.label_div{
    float:left;
    text-align: right;
    margin-top:5px;
    width:140px;
}
.jbxx{
    height:calc(100% - 80px);
    overflow: auto;
}

.deleteicon{
   
    position: absolute;
    right: 2px;

    cursor: pointer;
  }
.w200 {
    width: 150px!important;
  }

  i[nz-icon] {
    font-size: 32px;
    color: #999;
  }
  .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }

 
