<div style="height: 100%;">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabsetIndex" (nzSelectedIndexChange)="tabsetChange($event)">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name"></nz-tab>
  </nz-tabset>

  <!-- 基本信息 -->
  <div class="jbxx" *ngIf="tabsetIndex==0">
    <nz-divider nzText="基本信息" nzOrientation="left" style="font-size: 18px"></nz-divider>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>开发项目名称：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.xmmc" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>期数：</div>
        <nz-select [(ngModel)]="detailObj.qs" class="w200" [disabled]="isDisable" nzAllowClear>
          <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>批次：</div>
        <nz-select [(ngModel)]="detailObj.pc" class="w200" [disabled]="isDisable" nzAllowClear>
          <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select>
      </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>开发企业名称：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.kfqymc" class="w200" placeholder="请输入开发企业名称"
          [disabled]="isDisable" required [validation]="true" />
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>项目负责人：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.xmfzr" class="w200" placeholder="请输入项目负责人" [disabled]="isDisable"
          required [validation]="true" />
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>项目用途：</div>
        <nz-select [(ngModel)]="detailObj.xmyt" class="w200" [disabled]="isDisable" nzAllowClear>
          <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select>
       </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>所属地区：</div>
        <nz-select [(ngModel)]="detailObj.regionCode" class="w200" [disabled]="isDisable" nzAllowClear>
          <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select>
      </div>
      <div nz-col [nzSpan]="16">
        <div class="label_div"><span class="clo_r">*</span>项目地址：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.regionCode" class="w200" [disabled]="isDisable" nzAllowClear>
            <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
        </nz-select>
      </span>
      <span>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.address" class="w200" placeholder="请输入" [disabled]="isDisable"
          required [validation]="true" />
      </span>
      </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>联系电话：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.phone" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>占地面积：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.zdmj" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">土地投资：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.tdtz" [disabled]="isDisable"
          class="w200" placeholder="请输入项目名称" />万元
      </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">计划总投资：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.ztz" [disabled]="isDisable" 
          class="w200" placeholder="请输入项目名称" />万元
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">总投资中自有资金：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.ztzzyzj" [disabled]="isDisable" 
          class="w200" placeholder="请输入项目名称" />万元
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">总投资中融资金额：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.ztzrzzj" [disabled]="isDisable" 
          class="w200" placeholder="请输入项目名称" />万元
      </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>当前工程进度：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.gcjd" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>项目状态：</div>
        <nz-select [(ngModel)]="detailObj.xmjd" class="w200" [disabled]="isDisable" nzAllowClear>
          <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select>
    </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">拆迁标志：</div>
        <nz-select [(ngModel)]="detailObj.cqbz" class="w200" [disabled]="isDisable" nzAllowClear>
          <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select>
    </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>开工日期：</div>
        <nz-date-picker class="w200" [nzAllowClear]="false" [(ngModel)]="detailObj.kgrq" (ngModelChange)="onChange(1,$event)">
        </nz-date-picker>
      </div>
      <div nz-col [nzSpan]="16">
        <div class="label_div"><span class="clo_r">*</span>竣工日期：</div>
        <nz-date-picker class="w200" [nzAllowClear]="false" [(ngModel)]="detailObj.jgrq" (ngModelChange)="onChange(2,$event)">
        </nz-date-picker>
      </div>
    </div>

    <nz-divider nzText="土地信息" nzOrientation="left" style="font-size: 18px"></nz-divider>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>用地取得方式：</div>
        <nz-select [(ngModel)]="detailObj.ydqdfs" class="w200" [disabled]="isDisable" nzAllowClear>
          <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select>
</div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>地段类别：</div>
        <nz-select [(ngModel)]="detailObj.ddlb" class="w200" [disabled]="isDisable" nzAllowClear>
          <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>土地使用证号：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.tdsyzh" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />
      </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="24">
        <div class="label_div"><span class="clo_r">*</span>土地使用证批准时间：</div>
        <nz-date-picker class="w200" [nzAllowClear]="false" [(ngModel)]="detailObj.pzsj">
        </nz-date-picker>
      </div>
    </div>

    <nz-divider nzText="房屋信息" nzOrientation="left" style="font-size: 18px"></nz-divider>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>总建筑面积：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.zjzmj" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>住宅面积：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.zzmj" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>套数：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.zzts" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />万元
      </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>非住宅面积：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.fzzmj" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>套数：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.fzzts" [disabled]="isDisable" required [validation]="true"
          class="w200" placeholder="请输入项目名称" />
      </div>
      <div nz-col [nzSpan]="8"></div>
    </div>

    <nz-divider nzText="重点提示" nzOrientation="left" style="font-size: 18px"></nz-divider>

    <textarea nz-input [nzAutosize]="{ minRows: 5, maxRows: 8 }" [disabled]="isDisable" [(ngModel)]="detailObj.zyts"></textarea>

    <nz-divider nzText="备注" nzOrientation="left" style="font-size: 18px"></nz-divider>

    <textarea nz-input [nzAutosize]="{ minRows: 5, maxRows: 8 }" [disabled]="isDisable" [(ngModel)]="detailObj.bz"></textarea>
  </div>

  <!-- 附件 -->
  <div class="jbxx" *ngIf="tabsetIndex==1">
      <div nz-row style="height: 50px;padding: 10px;">
        <button nz-button nzType="primary" [nzVisible]="!detailObj.id" [disabled]="!detailObj.id" nz-tooltip nzTooltipTitle="请先保存项目信息" nzTooltipPlacement="bottom" (click)="upload()"><i nz-icon nzType="plus"></i>
          上传附件
        </button>
        <button nz-button nzType="default" *ngIf="!isDisable">
          批量删除
        </button>
      </div>

      <nz-table #nestedTable [nzData]="fjList" class="commontable tablescoll_rainbow"  [nzLoading]="Loading" 
      [nzPageIndex]="pageIndex" nzShowPagination nzShowQuickJumper nzShowSizeChanger [nzPageSize]="pageSize" [nzTotal]="totalCount" 
      (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
      (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzScroll]="tableIsScroll">
      <thead>
        <tr>
          <th style="width:10%" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"></th>
          <th>附件名称</th>
          <th>上传日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nestedTable.data; index as index" [ngClass]="{ itemSeleted: data.id == selectId }"
          (click)="selectItem(data)">
          <td style="width:10%" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"></td>
          <td>{{ data.serverFileName }}</td>
          <td>{{ data.uploadDate }}</td>
          <td style="width:30%">
            <a class="table_a" *ngIf="fileSuffix=='jpg' || fileSuffix=='jpeg' || fileSuffix=='png' || fileSuffix=='bmp' || || fileSuffix=='pdf'" (click)="previewImg(data)">查看</a>
            <a class="table_a" *ngIf="!isDisable">删除</a>
            <a class="table_a">下载</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>





  <div nz-row style="height: 50px;padding: 10px;text-align: right;padding-right: 20px;">
    <div nz-col [nzSpan]="24">
      <button nz-button nzType="default" (click)="cancel()">取消</button>
      <button nz-button nzType="primary" *ngIf="!isDisable&&tabsetIndex==0" (click)="save()">保存</button>
      <!-- <button nz-button nzType="primary" *ngIf="!isDisable" (click)="submit()">提交审核</button> -->
    </div>

  </div>


</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="附件上传" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <app-upload #uploadComponent [refid]="detailObj.id" (uploadSuccess)="uploadSuccess($event)"></app-upload>  
</nz-modal>

<nz-modal [(nzVisible)]="isImgVisible" nzTitle="附件预览" (nzOnCancel)="isImgVisible = false" [nzFooter]="null">
  <img src="{{currentImg}}" style="width:100%">
</nz-modal>