<div class="list_content_wrap">
  <div nz-row style="height: 50px;padding: 10px;">
    <div nz-col [nzSpan]="6">
      项目名称：
      <input nz-input nzSize="default" [(ngModel)]="xmmc" class="w150" placeholder="请输入项目名称" />
    </div>
    <div nz-col [nzSpan]="7">
      建筑物名称:
      <input nz-input nzSize="default" [(ngModel)]="jzwmc" class="w150" placeholder="请输入建筑物名称" />
    </div>

    <div nz-col [nzSpan]="6">
      审核状态：
      <nz-select [(ngModel)]="currentStatus" class="w150" nzPlaceHolder="请选择">
        <nz-option *ngFor="let option of auditStatusList" [nzLabel]="option.name" [nzValue]="option.code">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="5" class="ta_r">
      <button nz-button nzType="primary" (click)="search()">
        查询
      </button>
      <button nz-button nzType="default" (click)="reset()">
        重置
      </button>
    </div>


  </div>
  <div nz-row style="height: 50px;padding: 10px;">
    <div nz-col [nzSpan]="24">
      <button *ngIf="canzsgc" nz-button nzType="primary" (click)="add(1)"><i nz-icon nzType="plus"></i>
        添加
      </button>
      <button *ngIf="canzsgc" nz-button nzType="default" nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="btachDelete()">
        批量删除
      </button>
      <button nz-button nzType="default" *ngIf="false&&cansh" (click)="btachAudit()">
        批量审核
      </button>

      <!-- <button nz-button nzType="primary" (click)="perview()" style="float: right;">
        预览
      </button>

      <button nz-button nzType="primary" (click)="print()" style="float: right;">
        打印
      </button> -->

    </div>
  </div>

  <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzLoading]="Loading"
    [nzShowTotal]="rangeTemplate" [nzPageIndex]="pageIndex" nzShowPagination nzShowQuickJumper nzShowSizeChanger
    [nzPageSize]="pageSize" [nzTotal]="totalCount" (nzPageIndexChange)="pageIndexChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    [nzScroll]="tableIsScroll" [nzFrontPagination]="false">
    <thead (nzSortChange)="sort($event)">
      <tr>
        <th style="width:5%" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>项目名称</th>
        <th>建筑物名称</th>
        <th>幢号</th>
        <th>房号</th>
        <th>合同备案号</th>
        <th>购买人</th>
        <th>入网时间</th>
        <th nzShowSort nzSortKey="hnt.currentStatus">审核状态</th>
        <th style="width:20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nestedTable.data; index as index" [ngClass]="{ itemSeleted: data.id == selectId }"
        (click)="selectItem(data)">
        <td style="width:5%" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ data.xmmc }}</td>
        <td>{{ data.jzwmc }}</td>
        <td>{{ data.zh }}</td>
        <td>{{ data.fh }}</td>
        <td>{{ data.htbah }}</td>
        <td>{{ data.buyer }}</td>
        <td>{{ data.rwsj | date:'yyyy-MM-dd'}}</td>
        <td
          [ngClass]="{'cr0':data.currentStatus==0, 'cr1':data.currentStatus==1||data.currentStatus==2||data.currentStatus==3||data.currentStatus==4,'cr2':data.currentStatus==5}">
          <div class="point"
            [ngClass]="{'point0':data.currentStatus==0, 'point1':data.currentStatus==1||data.currentStatus==2||data.currentStatus==3||data.currentStatus==4,'point2':data.currentStatus==5}">
          </div>
          <p style="margin: auto;" *ngIf="!data.isCancel">{{ data.currentStatus|auditWorkFlow }}</p>
          <p style="margin: auto;" *ngIf="data.isCancel&&(data.isCancel==1||data.isCancel==2)">未备案</p>
        </td>
        <td style="width:20%">
          <a class="table_a" (click)="add(2,data)">查看</a>
          <a class="table_a" *ngIf="(data.isPass==2||data.currentStatus==0)&&canzsgc" (click)="add(3,data)">编辑</a>
          <a class="table_a" *ngIf="data.currentStatus==0&&cantjsh" (nzOnConfirm)="audit(data)" nz-popconfirm
            nzTitle="确定提交审核吗?">提交审核</a>
          <a class="table_a" *ngIf="data.currentStatus==1&&cansh" (click)="audit(data)">受理</a>
          <a class="table_a" *ngIf="data.currentStatus==2&&cansh" (click)="audit(data)">初审</a>
          <a class="table_a" *ngIf="data.currentStatus==3&&cansh" (click)="audit(data)">核定</a>
          <a class="table_a" *ngIf="data.currentStatus==4&&cansh" (click)="audit(data)">登簿</a>
          <a class="table_a" *ngIf="data.currentStatus==5&&(data.isCancel==0||!data.isCancel)&&cansh" (click)="audit(data,1)">注销</a>
          <a class="table_a" *ngIf="data.currentStatus==5&&(data.isCancel==0||!data.isCancel)&&cansh" (click)="audit(data,2)">变更</a>

          <a class="table_a" *ngIf="data.currentStatus==5&&!data.isCancel" (click)="perview(data)">预览</a>
          <a class="table_a" *ngIf="data.currentStatus==5&&!data.isCancel" (click)="print(data)">打印</a>
          <a class="table_a" (nzOnConfirm)="delete([data.id])" *ngIf="data.currentStatus==0&&canzsgc" nz-popconfirm
            nzTitle="确定删除吗?">删除</a>

        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="auditIsVisible" nzTitle="{{auditName}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading" [nzWidth]="800">

  <div *ngIf="auditResultVisible" nz-row style="height: 60px;">

    <div nz-col [nzSpan]="12" class="ta_r">
      <div class="label_div"><span class="clo_r">*</span>审核结果</div>
      <nz-select [(ngModel)]="auditObj.shjg" class="w200" required [validation]="true" name="shjg" nzPlaceHolder="请选择">
        <nz-option *ngFor="let option of auditList" [nzLabel]="option.name" [nzValue]="option.code">
        </nz-option>
      </nz-select>
    </div>

  </div>

  <div nz-row style="height: 60px;">

    <div nz-col [nzSpan]="12" class="ta_r">
      <div class="label_div">{{auditPeople}}</div>
      <input nz-input nzSize="default" [(ngModel)]="auditObj.shry" class="w200" maxlength="50" />
    </div>

    <div nz-col [nzSpan]="12" class="ta_r">
      <div class="label_div">{{auditdate}}</div>
      <nz-date-picker class="w200" [nzStyle]="{'width':'200px'}" [(ngModel)]="auditObj.shrq" placeholder="请输入审核日期">
      </nz-date-picker>
    </div>

  </div>

  <div style="margin-bottom: 10px;" *ngIf="!auditResultVisible" nz-row>
    <div nz-col [nzSpan]="24" class="ta_l">
      <div class="label_div">{{auditMsg}}</div>
      <textarea style="width: calc(100% - 175px);margin-left: 35px;" nz-input [nzAutosize]="{ minRows: 5, maxRows: 8 }"
        [(ngModel)]="auditObj.zxly" maxlength="500"></textarea>
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzSpan]="24" class="ta_l">
      <div class="label_div">备注</div>
      <textarea style="width: calc(100% - 175px);margin-left: 35px;" nz-input [nzAutosize]="{ minRows: 5, maxRows: 8 }"
        [(ngModel)]="auditObj.bz" maxlength="500"></textarea>
    </div>
  </div>

  <div nz-row *ngIf="!auditResultVisible">
    <div nz-col [nzSpan]="24" class="ta_l">
      <div class="label_div">附件</div>
      <div style="float: left;width: calc(100% - 175px);margin-left: 35px;">
        <app-attachment  [fileList]="fileList"  #attachmentComponent>
        </app-attachment>
      </div>

    </div>
  </div>

</nz-modal>

<nz-modal [(nzVisible)]="htVisible" nzTitle="预览" (nzOnCancel)="htVisible=false" [nzOkText]="null">
  <ueditor [(ngModel)]="htContent" [config]="config"></ueditor>
</nz-modal>

<ng-template #rangeTemplate let-range="range" let-total>
  共{{total}}条记录&nbsp;&nbsp;
</ng-template>
