.label_div{
  float:left;
  text-align: right;
  margin-top:5px;
  width:140px;
}

.cr0{
  color: rgba(0, 0, 0, 0.427450980392157);
}
.cr1{
  color: #FF9933;
}
.cr2{
  color: #33CC00;
}
.cr3{
  color: red;
}

.point{
  float: left;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  margin-top: 6px;
  margin-right: 8px;
}

.point0{
  background: rgba(0, 0, 0, 0.427450980392157);
}
.point1{
  background: #FF9933;
}
.point2{
  background: #33CC00;
}
.point3{
  background: red;
}
