.div1{
    padding: 10px;
    height: 100%;
    width:100%;
    max-width: 450px;
    overflow-x: hidden;
    margin:0 auto;
    position: relative;
}

.div2{
    background: #fff;
    border: 5px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}


.row1{
    min-height: 30px;
    line-height: 30px;
}

.tr{
  text-align: right;
  float: left;
}

.step1{
    width:100%;
    height:104px;
    text-align: center;
    position: absolute;
    top:calc(50% - 52px);
    

    div{
        padding:10px;
    }
}