<div>
    <nz-divider *ngIf="zrzShow" nzText="基本信息" nzOrientation="left" style="font-size: 18px"></nz-divider>
    <button style="float: right;z-index: 1000;" nz-button nzType="primary" *ngIf="glType=='zddygl'&&zrzShow"
        (click)="restrictedProperty1('1')">限制楼盘销售</button>
    <div *ngIf="zrzShow" nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">项目名称</div>
        <div nz-col [nzSpan]="8">楼盘名称</div>
        <div nz-col [nzSpan]="8"></div>
    </div>

    <div *ngIf="zrzShow" nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">{{detailObj.xmmc}}</div>
        <div nz-col [nzSpan]="8">{{detailObj.jzwmc}}</div>
        <div nz-col [nzSpan]="8"></div>
    </div>

    <div *ngIf="zrzShow" style="width:calc(100% + 40px);height:25px;background:#f0f2f5;position: relative;left:-20px">
    </div>

    <div *ngIf="zrzShow" class="card-container" style="width:calc(100% + 40px);position: relative;left:-20px">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabsetIndex2"
            (nzSelectedIndexChange)="tabsetChange2($event)">
            <nz-tab *ngFor="let tab of tabs2" [nzTitle]="tab.name"></nz-tab>
        </nz-tabset>
        <button style="position: absolute;right: 20px;top: -10px;" nz-button nzType="primary" *ngIf="glType=='zddygl'"
            (click)="restrictedProperty1('2')">限制幢销售</button>
    </div>
    <div class="lp_message_wrap">
        <div class="lp_title"><i nz-icon nzType="info-circle" nzTheme="outline"></i>楼幢总览</div>

        <div class="lp_content">
            总面积：{{lpbList.ljzStatistical.zmj}}，总套数：{{lpbList.ljzStatistical.zts}}，禁售套数：{{lpbList.ljzStatistical.jsts}}，抵押套数：{{lpbList.ljzStatistical.dyts}}，抵押面积：{{lpbList.ljzStatistical.dymj}}，
            未售面积：{{lpbList.ljzStatistical.wsmj}}，未售套数：{{lpbList.ljzStatistical.wsts}}，未售住宅面积：{{lpbList.ljzStatistical.wszzmj}}，未售住宅套数：{{lpbList.ljzStatistical.wszzts}}，已售面积：{{lpbList.ljzStatistical.ysmj}}，已售套数：{{lpbList.ljzStatistical.ysts}}，
            销售额：{{lpbList.ljzStatistical.xse}}，已售住宅面积：{{lpbList.ljzStatistical.yszzmj}}，已售住宅套数：{{lpbList.ljzStatistical.yszzts}}
        </div>
    </div>

    <nz-divider nzText="楼幢信息" nzOrientation="left" style="font-size: 18px"></nz-divider>

    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">
            <div class="label_div">幢编号：</div>
            <input nz-input nzSize="default" [(ngModel)]="lpbList.zrzh" [title]="lpbList.zrzh" maxlength="50"
                [disabled]="isDisable" class="w200" />
        </div>

        <div nz-col [nzSpan]="8">
            <div class="label_div">实测建筑面积：</div>
            <input nz-input nzSize="default" [(ngModel)]="lpbList.scjzmj" maxlength="50" [disabled]="isDisable"
                class="w200" />&nbsp;㎡
        </div>

        <div nz-col [nzSpan]="8">
            <div class="label_div">总层数：</div>
            <input nz-input nzSize="default" [(ngModel)]="lpbList.zcs" maxlength="50" [disabled]="isDisable"
                class="w200" />
        </div>
    </div>

    <!-- <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">
            <div class="label_div">销售类型：</div>
            <nz-select [(ngModel)]="detailObj.xslx" class="w200" [disabled]="isDisable" nzAllowClear nzPlaceHolder="请选择" >
              <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
              </nz-option>
          </nz-select>
          </div>

      <div nz-col [nzSpan]="8">
        <div class="label_div">许可证号：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.xkzh" maxlength="50" [disabled]="isDisable" 
          class="w200" placeholder="请输入许可证号" />
      </div>

      <div nz-col [nzSpan]="8">
          <div class="label_div">建筑结构：</div>
          <nz-select [(ngModel)]="detailObj.jzjg" class="w200" [disabled]="isDisable" nzAllowClear nzPlaceHolder="请选择" >
            <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
        </nz-select>
        </div>

    </div> -->

    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="24">
            <div class="label_div">房屋用途：</div>
            <nz-select [(ngModel)]="lpbList.fwyt1" class="w200" [disabled]="isDisable" nzAllowClear>
                <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
                </nz-option>
            </nz-select>
        </div>
    </div>

    <!-- <div nz-row style="height: 50px;padding: 10px;">
          <div nz-col [nzSpan]="8">
            <div class="label_div">单元信息：</div>
            <input nz-input nzSize="default" [(ngModel)]="detailObj.dyxx" [disabled]="isDisable"
              class="w200" placeholder="请输入单元信息" />
          </div>
          <div nz-col [nzSpan]="8">
            <div class="label_div">特殊层号：</div>
            <input nz-input nzSize="default" [(ngModel)]="detailObj.tsch" [disabled]="isDisable" 
              class="w200" placeholder="请输入特殊层号" />
          </div>
          <div nz-col [nzSpan]="8">
            <div class="label_div">特殊层信息：</div>
            <input nz-input nzSize="default" [(ngModel)]="detailObj.tscxx" [disabled]="isDisable" 
              class="w200" placeholder="请输入特殊层信息" />
          </div>
        </div> -->


    <nz-divider nzText="楼盘表" nzOrientation="left" style="font-size: 18px"></nz-divider>

    <div class="lpb_div" style="width:980px;margin:0 auto;overflow: auto;">
        <ul [ngStyle]="{'width':(rowSpan + 2)*100+'px'}">
            <li class="ch_td">楼层数</li>
            <li *ngFor="let data of lpbList.dyList; index as index" [ngStyle]="{'width':data.rowSpan*100+'px'}">
                {{data.name}}</li>
        </ul>
        <ul [ngStyle]="{'width':(rowSpan + 2)*100+'px'}" *ngFor="let item of lpbList.cList; index as index">
            <li class="ch_td">{{item.ch}}层</li>
            <li *ngFor="let hu of item.hList" [ngClass]="{'lpb_ydy':(moduleType=='dy'&&hu.status == 1) || (moduleType!='cf'&&moduleType!='dy'&&hu.status == 1) , 'lpb_ycf':(moduleType=='cf'&&hu.cfStatus == 1) || (moduleType!='cf'&&moduleType!='dy'&&hu.cfStatus == 1) }"
                nz-popover [nzPopoverTrigger]="hu.mph?'hover':'null'" [nzPopoverContent]="PopoverContent"
                (mouseenter)="selectedHuChange(hu)" [ngStyle]="{'border-color':selectH==hu.id?'red':'#ccc'}"
                (click)="selectH=hu.id">
                {{hu.mph}}</li>
        </ul>

    </div>

    <ul class="lpb_tl">
        <li class="lpb_wba">未备案</li>
        <li class="lpb_kxs">可销售</li>
        <li class="lpb_yba">已备案</li>
        <li class="lpb_ydy">已抵押</li>
        <li class="lpb_ycf">已查封</li>
    </ul>





</div>

<ng-template #PopoverContent>
    <p>门牌号：{{selectedHu.mph}}</p>
    <p>层数：{{selectedHu.ch}}</p>
    <p>单元号：{{selectedHu.dyh}}</p>
    <p>面积：{{selectedHu.scjzmj}}</p>
    <p>不动产登记号：{{selectedHu.bdcdyh}}</p>
    <p>坐落：{{selectedHu.zl}}</p>
</ng-template>