<div>
    <nz-divider *ngIf="zrzShow" nzText="基本信息" nzOrientation="left" style="font-size: 18px"></nz-divider>
    <button style="float: right;z-index: 1000;" nz-button nzType="primary" *ngIf="glType=='zddygl'&&zrzShow"
        (click)="restrictedProperty1('1')">限制楼盘销售</button>

<div *ngIf="zrzShow" nz-row style="height: 50px;padding: 10px;">
    <div nz-col [nzSpan]="8">
        <div class="label_div"> <span class="clo_r">*</span>关联项目：</div>
        <nz-select class="w200" name="xmid" (ngModelChange)="selectChange($event)" nzPlaceHolder="选择关联项目" [disabled]="isDisable"
        nzShowSearch nzServerSearch [(ngModel)]="detailObj.xmid" (nzOnSearch)="onSearch($event)" required [validation]="true">
        <ng-container *ngFor="let o of companyList">
          <nz-option *ngIf="!companyLoading" [nzValue]="o.id" [nzLabel]="o.xmmc"></nz-option>
        </ng-container>
        <nz-option *ngIf="companyLoading" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
        </nz-option>
      </nz-select>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>楼盘名称：</div>
        <span><input  name="jzwmc" maxlength="50" nz-input class="w200" [disabled]="isDisable"
          required [validation]="true" nzSize="default" [(ngModel)]="detailObj.jzwmc" class="w200" /></span>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">宗地代码：</div>
        <span><input  name="zddm" maxlength="19" nz-input class="w200" [disabled]="isDisable"
          nzSize="default" [(ngModel)]="detailObj.zddm" /></span>
      </div>
      </div>

      <div *ngIf="zrzShow" nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">
          <div class="label_div">不动产单元号：</div>
          <span><input  name="bdcdyh" maxlength="28" nz-input class="w200" [disabled]="isDisable"
            nzSize="default" [(ngModel)]="detailObj.bdcdyh" class="w200" /></span>
        </div>
        <div nz-col [nzSpan]="8">
          <div class="label_div"><span class="clo_r">*</span>自然幢号：</div>
          <span><input  name="zrzh" maxlength="24" nz-input class="w200" [disabled]="isDisable"
            required [validation]="true" nzSize="default" [(ngModel)]="detailObj.zrzh" class="w200" /></span>
        </div>
        <div nz-col [nzSpan]="8">
          <div class="label_div">总层数：</div>
          <span><input  name="zcs" maxlength="2" nz-input class="w200" [disabled]="isDisable" [validation]="true" [validationType]="'nullnumber'"
            nzSize="default" [(ngModel)]="detailObj.zcs" class="w200" /></span>
        </div>
        </div>



          <div *ngIf="zrzShow" nz-row style="height: 50px;padding: 10px;">
            <div nz-col [nzSpan]="8">
              <div class="label_div">幢占地面积：</div>
              <span><input  name="zzdmj" maxlength="10" nz-input class="w200" [disabled]="isDisable" [validation]="true" [validationType]="'nullAreaNumber'"
                nzSize="default" [(ngModel)]="detailObj.zzdmj" /></span>&nbsp;㎡
            </div>
            <div nz-col [nzSpan]="8">
              <div class="label_div">幢用地面积：</div>
              <span><input  name="zydmj" maxlength="10" nz-input class="w200" [disabled]="isDisable" [validation]="true" [validationType]="'nullAreaNumber'"
                nzSize="default" [(ngModel)]="detailObj.zydmj" class="w200" /></span>&nbsp;㎡
            </div>
            <div nz-col [nzSpan]="8">
              <div class="label_div">预测建筑物面积：</div>
              <span><input  name="ycjzmj" maxlength="10" nz-input class="w200" [disabled]="isDisable" [validation]="true" [validationType]="'nullAreaNumber'"
                nzSize="default" [(ngModel)]="detailObj.ycjzmj" /></span>&nbsp;㎡
            </div>
            </div>

            <div *ngIf="zrzShow" nz-row style="height: 50px;padding: 10px;">

              <div nz-col [nzSpan]="8">
                <div class="label_div">实测建筑面积：</div>
                <span><input  name="scjzmj" maxlength="10" nz-input class="w200" [disabled]="isDisable" [validation]="true" [validationType]="'nullAreaNumber'"
                  nzSize="default" [(ngModel)]="detailObj.scjzmj" class="w200" /></span>&nbsp;㎡
              </div>
              <div nz-col [nzSpan]="8">
                <div class="label_div">地上层数：</div>
                <span><input  name="dscs" maxlength="2" nz-input class="w200" [disabled]="isDisable" [validation]="true" [validationType]="'nullnumber'"
                  nzSize="default" [(ngModel)]="detailObj.dscs" /></span>
              </div>
              <div nz-col [nzSpan]="8">
                <div class="label_div">地下层数：</div>
                <span><input  name="dxcs" maxlength="2" nz-input class="w200" [disabled]="isDisable" [validation]="true" [validationType]="'nullnumber'"
                  nzSize="default" [(ngModel)]="detailObj.dxcs" class="w200" /></span>
              </div>
              </div>



                <div *ngIf="zrzShow" nz-row style="height: 50px;padding: 10px;">
                  <div nz-col [nzSpan]="8">
                    <div class="label_div">地下深度：</div>
                    <span><input  name="dxsd" maxlength="10" nz-input class="w200" [disabled]="isDisable" [validation]="true" [validationType]="'nullAreaNumber'"
                      nzSize="default" [(ngModel)]="detailObj.dxsd" /></span>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <div class="label_div">规划用途：</div>
                    <span><nz-select [(ngModel)]="detailObj.ghyt" class="w200" nzAllowClear nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
                      <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
                      </nz-option>
                    </nz-select></span>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <div class="label_div">房屋结构：</div>
                    <span><nz-select [(ngModel)]="detailObj.fwjg" class="w200" nzAllowClear nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
                      <nz-option *ngFor="let option of dictionaryObj.fwjg" [nzLabel]="option.name" [nzValue]="option.code">
                      </nz-option>
                    </nz-select></span>
                  </div>
                  </div>


                    <div *ngIf="zrzShow" nz-row style="height: 50px;padding: 10px;">
                      <div nz-col [nzSpan]="8">
                        <div class="label_div">总套数：</div>
                        <span><input  name="zts" maxlength="4" nz-input class="w200" [disabled]="isDisable" [validation]="true" [validationType]="'nullnumber'"
                          nzSize="default" [(ngModel)]="detailObj.zts" class="w200" /></span>
                      </div>
                      <div nz-col [nzSpan]="8">
                        <div class="label_div">用途名称：</div>
                        <span><input  name="ytmc" maxlength="50" nz-input class="w200" [disabled]="isDisable"
                          nzSize="default" [(ngModel)]="detailObj.ytmc" /></span>
                      </div>
                      <div nz-col [nzSpan]="8">
                        <div class="label_div">建筑物基本用途：</div>
                        <span><input  name="jzwjbyt" maxlength="50" nz-input class="w200" [disabled]="isDisable"
                          nzSize="default" [(ngModel)]="detailObj.jzwjbyt" class="w200" /></span>
                      </div>
                      </div>


    <div *ngIf="zrzShow" style="width:calc(100% + 40px);height:25px;background:#f0f2f5;position: relative;left:-20px">
    </div>

    <div *ngIf="zrzShow" class="card-container" style="width:calc(100% + 40px);position: relative;left:-20px">
        <!-- <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabsetIndex2"
            (nzSelectedIndexChange)="tabsetChange2($event)">
            <nz-tab *ngFor="let tab of tabs2" [nzTitle]="tab.name" (nzClick)="tabClick(tab)"></nz-tab>
        </nz-tabset> -->
        <ul class="ljz_ul">
            <li *ngFor="let tab of tabs2;index as index" [ngClass]="{'selected_ljz':tabsetIndex2 == index}" (click)="tabsetChange2(index)">{{tab.name}}</li>
            <li (click)="tabClick()" *ngIf="!isDisable" title="添加楼幢">添加<i nz-icon nzType="plus-circle" nzTheme="outline" style="margin-left: 3px;"></i></li>
        </ul>
        <button style="position: absolute;right: 20px;top: -10px;" nz-button nzType="primary" *ngIf="glType=='zddygl'"
            (click)="restrictedProperty1('2')">限制幢销售</button>
    </div>
    <!-- <div class="lp_message_wrap">
        <div class="lp_title"><i nz-icon nzType="info-circle" nzTheme="outline"></i>楼幢总览</div>

        <div class="lp_content">
            总面积：{{lpbList.ljzStatistical.zzmj}}，总套数：{{lpbList.ljzStatistical.zzts}}，禁售套数：{{lpbList.ljzStatistical.jsts}}，抵押套数：{{lpbList.ljzStatistical.dyts}}，抵押面积：{{lpbList.ljzStatistical.dymj}}，
            未售面积：{{lpbList.ljzStatistical.wsmj}}，未售套数：{{lpbList.ljzStatistical.wsts}}，未售住宅面积：{{lpbList.ljzStatistical.wszzmj}}，未售住宅套数：{{lpbList.ljzStatistical.wszzts}}，已售面积：{{lpbList.ljzStatistical.ysmj}}，已售套数：{{lpbList.ljzStatistical.ysts}}，
            销售额：{{lpbList.ljzStatistical.xse}}，已售住宅面积：{{lpbList.ljzStatistical.yszzmj}}，已售住宅套数：{{lpbList.ljzStatistical.yszzts}}
        </div>
    </div> -->
<div *ngIf="detailObj.ljzList&&detailObj.ljzList.length>0" style="position: relative;">
    <button nz-button *ngIf="!isDisable" nzType="danger" style="float:right" (click)="deleteLjz(lpbList.id)">删除</button>
    <nz-divider nzText="楼幢信息" nzOrientation="left" style="font-size: 18px"></nz-divider>

    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">
            <div class="label_div"><span class="clo_r">*</span>逻辑幢号：</div>
            <span> <input nz-input nzSize="default" [(ngModel)]="lpbList.ljzh" [title]="lpbList.ljzh" maxlength="24"
                [disabled]="isDisable" class="w200"  required [validation]="true"/></span>

        </div>
        <div nz-col [nzSpan]="8">
          <div class="label_div">预测建筑面积：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="lpbList.ycjzmj" maxlength="10" [disabled]="isDisable"
              class="w200" [validation]="true" [validationType]="'nullAreaNumber'" />&nbsp;㎡</span>
      </div>
        <div nz-col [nzSpan]="8">
            <div class="label_div"><span class="clo_r">*</span>实测建筑面积：</div>
            <span> <input nz-input nzSize="default" [(ngModel)]="lpbList.scjzmj" maxlength="10" [disabled]="isDisable"
                class="w200"  required [validation]="true" [validationType]="'nullAreaNumber'" />&nbsp;㎡</span>

        </div>

    </div>


    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
          <div class="label_div"><span class="clo_r">*</span>坐落：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="lpbList.zl" maxlength="50"
              [disabled]="isDisable" class="w200"  required [validation]="true"/></span>

      </div>
      <div nz-col [nzSpan]="8">
          <div class="label_div"><span class="clo_r">*</span>门牌号：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="lpbList.mph" maxlength="50" [disabled]="isDisable"
              class="w200"  required [validation]="true"/></span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>总层数：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="lpbList.zcs" maxlength="50" [disabled]="isDisable"
            class="w200"  required [validation]="true"  [validationType]="'nullnumber'"/></span>
    </div>

  </div>

  <div nz-row style="height: 50px;padding: 10px;">
    <div nz-col [nzSpan]="8">
        <div class="label_div">竣工日期：</div>
        <span>
            <nz-date-picker class="datapicker-width" [nzAllowClear]="true" [(ngModel)]="lpbList.jgrq"  [disabled]="isDisable" class="w200"
            ></nz-date-picker>
          </span>

    </div>
    <div nz-col [nzSpan]="8">
      <div class="label_div">房屋用途：</div>
      <span>  <nz-select [(ngModel)]="lpbList.fwyt1" class="w200" [disabled]="isDisable">
        <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
        </nz-option>
    </nz-select></span>

  </div>
    <div nz-col [nzSpan]="8">
        <div class="label_div">房屋结构：</div>
        <span> <nz-select [(ngModel)]="lpbList.fwjg1" class="w200" [disabled]="isDisable">
          <nz-option *ngFor="let option of dictionaryObj.fwjg" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select></span>

    </div>
</div>

<div nz-row style="height: 50px;padding: 10px;">
  <div nz-col [nzSpan]="8">
      <div class="label_div">用途名称：</div>
      <span> <input nz-input nzSize="default" [(ngModel)]="lpbList.ytmc" [title]="lpbList.ytmc" maxlength="50"
          [disabled]="isDisable" class="w200"  /></span>

  </div>
  <div nz-col [nzSpan]="8">
      <div class="label_div">地上层数：</div>
      <span> <input nz-input nzSize="default" [(ngModel)]="lpbList.dscs" maxlength="2" [disabled]="isDisable"
          class="w200" [validation]="true" [validationType]="'nullnumber'" /></span>

  </div>
  <div nz-col [nzSpan]="8">
      <div class="label_div">地下层数：</div>
      <span> <input nz-input nzSize="default" [(ngModel)]="lpbList.dxcs" maxlength="2" [disabled]="isDisable"
          class="w200" [validation]="true" [validationType]="'nullnumber'" /></span>
  </div>
</div>

<div nz-row style="height: 50px;padding: 10px;">
  <div nz-col [nzSpan]="8">

      <div class="label_div">建筑物状态：</div>
      <span> <nz-select [(ngModel)]="lpbList.jzwzt" class="w200" [disabled]="isDisable">
        <nz-option *ngFor="let option of dictionaryObj.jzwzt" [nzLabel]="option.name" [nzValue]="option.code">
        </nz-option>
    </nz-select></span>

  </div>
  <div nz-col [nzSpan]="8">


  </div>
  <div nz-col [nzSpan]="8">

  </div>
</div>

   <!-- <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">
            <div class="label_div">销售类型：</div>
            <nz-select [(ngModel)]="detailObj.xslx" class="w200" [disabled]="isDisable" nzAllowClear nzPlaceHolder="请选择" >
              <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
              </nz-option>
          </nz-select>
          </div>

      <div nz-col [nzSpan]="8">
        <div class="label_div">许可证号：</div>
        <input nz-input nzSize="default" [(ngModel)]="detailObj.xkzh" maxlength="50" [disabled]="isDisable"
          class="w200" placeholder="请输入许可证号" />
      </div>

      <div nz-col [nzSpan]="8">
          <div class="label_div">建筑结构：</div>
          <nz-select [(ngModel)]="detailObj.jzjg" class="w200" [disabled]="isDisable" nzAllowClear nzPlaceHolder="请选择" >
            <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
        </nz-select>
        </div>

    </div> -->

    <!-- <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="24">
            <div class="label_div">房屋用途：</div>
            <nz-select [(ngModel)]="lpbList.fwyt1" class="w200" [disabled]="isDisable">
                <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
                </nz-option>
            </nz-select>
        </div>
    </div> -->

    <!-- <div nz-row style="height: 50px;padding: 10px;">
          <div nz-col [nzSpan]="8">
            <div class="label_div">单元信息：</div>
            <input nz-input nzSize="default" [(ngModel)]="detailObj.dyxx" [disabled]="isDisable"
              class="w200" placeholder="请输入单元信息" />
          </div>
          <div nz-col [nzSpan]="8">
            <div class="label_div">特殊层号：</div>
            <input nz-input nzSize="default" [(ngModel)]="detailObj.tsch" [disabled]="isDisable"
              class="w200" placeholder="请输入特殊层号" />
          </div>
          <div nz-col [nzSpan]="8">
            <div class="label_div">特殊层信息：</div>
            <input nz-input nzSize="default" [(ngModel)]="detailObj.tscxx" [disabled]="isDisable"
              class="w200" placeholder="请输入特殊层信息" />
          </div>
        </div> -->


    <nz-divider nzText="楼盘表" nzOrientation="left" style="font-size: 18px"></nz-divider>
    <div nz-row style="height: 50px;padding: 10px;">
        <button nz-button nzType="primary" *ngIf="!isDisable" (click)="addC()">添加层</button>
        <button nz-button nzType="primary" *ngIf="!isDisable" (click)="addH()">添加户</button>
    </div>

    <div class="lpb_div" style="width:980px;margin:0 auto;overflow: auto;">
        <ul [ngStyle]="{'width':(rowSpan + 2)*100+'px'}">
            <li class="ch_td" style="background: #fff">楼层数</li>
            <li style="background: #fff;color: rgba(0, 0, 0, 0.85) " *ngFor="let data of lpbList.dyList; index as index" [ngStyle]="{'width':data.rowSpan*100+'px'}">
                {{data.name}}</li>
        </ul>
        <ul [ngStyle]="{'width':(rowSpan + 2)*100+'px'}" *ngFor="let item of lpbList.cList; index as index">
            <li class="ch_td" style="background: #fff" nz-popover (mouseenter)="selectedCeChange(item)" [nzPopoverContent]="CePopoverContent">{{item.ch}}层</li>
            <li *ngFor="let hu of item.hList"
                [ngClass]="{'lpb_ydy':(moduleType=='dy'&&hu.status == 1) || (moduleType!='cf'&&moduleType!='dy'&&hu.status == 1) , 'lpb_ycf':(moduleType=='cf'&&hu.cfStatus == 1) || (moduleType!='cf'&&moduleType!='dy'&&hu.cfStatus == 1) }"
                nz-popover [nzPopoverTrigger]="hu.mph?'hover':'null'" [nzPopoverContent]="PopoverContent"
                (mouseenter)="selectedHuChange(hu)" [ngStyle]="{'border-color':selectH==hu.id?'red':'#ccc'}"
                (click)="selectH=hu.id">
                {{hu.mph}}</li>
        </ul>

    </div>

    <ul class="lpb_tl">
        <li class="lpb_wba">未备案</li>
        <li class="lpb_kxs">可销售</li>
        <li class="lpb_yba">已备案</li>
        <li class="lpb_ydy">已抵押</li>
        <li class="lpb_ycf">已查封</li>
        <li class="lpb_bks">不可售</li>
    </ul>

  </div>



</div>

<ng-template #PopoverContent>
    <p>门牌号：{{selectedHu.mph}}</p>
    <p>层数：{{selectedHu.ch}}</p>
    <p>单元号：{{selectedHu.dyh}}</p>
    <p>面积：{{selectedHu.scjzmj}}</p>
    <p>不动产登记号：{{selectedHu.bdcdyh}}</p>
    <p>坐落：{{selectedHu.zl}}</p>
    <p *ngIf="selectedHu.tradeType>0" style="height: 20px;"><button nz-button nzType="primary" (click)="perview()"
            style="float: right;">预览合同</button></p>
    <p style="height: 20px;">
      <button nz-button nzType="primary" (click)="contract(selectedHu.id)">合同备案</button>
      <button nz-button *ngIf="!isDisable" nzType="primary" (click)="editH(selectedHu.id)">编辑</button>
      <button nz-button *ngIf="!isDisable" nzType="danger" (click)="deleteH(selectedHu.id)">删除</button>
    </p>
</ng-template>

<ng-template #CePopoverContent>
  <p style="height: 20px;">
    <button nz-button *ngIf="!isDisable" nzType="primary" (click)="editC(selectedCe.id)">编辑</button>
    <button nz-button *ngIf="!isDisable" nzType="danger" (click)="deleteC(selectedCe.id)">删除</button>
  </p>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" nzTitle="楼幢信息" nzWidth="1030" nzOkText="保存" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk(1)">
  <!-- <div nz-row style="height: 50px;padding: 10px;">
      <div class="ta_r">
        <span class="clo_r">*</span>幢编号：
        <input  name="zrzh" maxlength="50" nz-input style="width:calc(100% - 120px)"
          required [validation]="ljzValidation" nzSize="default" [(ngModel)]="ljzObj.ljzh" />
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
        <div class="ta_r">
          <span class="clo_r">*</span>实测建筑面积：
          <input  name="zrzh" maxlength="50" nz-input style="width:calc(100% - 120px)"
            required [validation]="ljzValidation" nzSize="default" [(ngModel)]="ljzObj.scjzmj" />
        </div>
      </div>
    <div nz-row style="height: 50px;padding: 10px;">
        <div class="ta_r">
          <span class="clo_r">*</span>总层数：
          <input  name="zrzh" maxlength="50" nz-input style="width:calc(100% - 120px)"
            required [validation]="ljzValidation" nzSize="default" [(ngModel)]="ljzObj.zcs" />
        </div>
      </div>
      <div nz-row style="height: 50px;padding: 10px;">
        <div class="ta_r">
          <span class="clo_r">*</span>房屋用途：
          <nz-select [(ngModel)]="ljzObj.fwyt1" nzAllowClear style="width:calc(100% - 120px)"  required [validation]="ljzValidation">
            <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
        </nz-select>
        </div>
      </div> -->
      <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">
            <div class="label_div"><span class="clo_r">*</span>逻辑幢号：</div>
            <span> <input nz-input nzSize="default" [(ngModel)]="ljzObj.ljzh" [title]="ljzObj.ljzh" maxlength="24"
                [disabled]="isDisable" class="w200"  required [validation]="ljzValidation"/></span>

        </div>
        <div nz-col [nzSpan]="8">
          <div class="label_div">预测建筑面积：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="ljzObj.ycjzmj" maxlength="10" [disabled]="isDisable"
              class="w200"  [validation]="ljzValidation" [validationType]="'nullAreaNumber'"/>&nbsp;㎡</span>
      </div>
        <div nz-col [nzSpan]="8">
            <div class="label_div"><span class="clo_r">*</span>实测建筑面积：</div>
            <span> <input nz-input nzSize="default" [(ngModel)]="ljzObj.scjzmj" maxlength="10" [disabled]="isDisable"
                class="w200"  required [validation]="ljzValidation" [validationType]="'nullAreaNumber'"/>&nbsp;㎡</span>

        </div>

    </div>


    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
          <div class="label_div"><span class="clo_r">*</span>坐落：</div>
          <span> <input nz-input name="ljzObj_zl" nzSize="default" [(ngModel)]="ljzObj.zl"  maxlength="50"
              [disabled]="isDisable" class="w200"  required [validation]="ljzValidation"/></span>

      </div>
      <div nz-col [nzSpan]="8">
          <div class="label_div"><span class="clo_r">*</span>门牌号：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="ljzObj.mph" maxlength="50" [disabled]="isDisable"
              class="w200"  required [validation]="ljzValidation"/></span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>总层数：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="ljzObj.zcs" maxlength="2" [disabled]="isDisable"
            class="w200"  required [validation]="ljzValidation" [validationType]="'nullnumber'"/></span>
    </div>

  </div>

  <div nz-row style="height: 50px;padding: 10px;">
    <div nz-col [nzSpan]="8">
        <div class="label_div">竣工日期：</div>
        <span>
            <nz-date-picker class="datapicker-width" [nzAllowClear]="true" [(ngModel)]="ljzObj.jgrq"  [disabled]="isDisable" class="w200"
            ></nz-date-picker>
          </span>

    </div>
    <div nz-col [nzSpan]="8">
      <div class="label_div">房屋用途：</div>
      <span>  <nz-select [(ngModel)]="ljzObj.fwyt1" class="w200" [disabled]="isDisable">
        <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
        </nz-option>
    </nz-select></span>

  </div>
    <div nz-col [nzSpan]="8">
        <div class="label_div">房屋结构：</div>
        <span> <nz-select [(ngModel)]="ljzObj.fwjg1" class="w200" [disabled]="isDisable">
          <nz-option *ngFor="let option of dictionaryObj.fwjg" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
      </nz-select></span>

    </div>
</div>

<div nz-row style="height: 50px;padding: 10px;">
  <div nz-col [nzSpan]="8">
      <div class="label_div">用途名称：</div>
      <span> <input nz-input nzSize="default" [(ngModel)]="ljzObj.ytmc" [title]="ljzObj.ytmc" maxlength="50"
          [disabled]="isDisable" class="w200"  /></span>

  </div>
  <div nz-col [nzSpan]="8">
      <div class="label_div">地上层数：</div>
      <span> <input nz-input nzSize="default" [(ngModel)]="ljzObj.dscs" maxlength="2" [disabled]="isDisable"
          class="w200" [validation]="ljzValidation" [validationType]="'nullnumber'"/></span>

  </div>
  <div nz-col [nzSpan]="8">
      <div class="label_div">地下层数：</div>
      <span> <input nz-input nzSize="default" [(ngModel)]="ljzObj.dxcs" maxlength="2" [disabled]="isDisable"
          class="w200" [validation]="ljzValidation" [validationType]="'nullnumber'"/></span>
  </div>
</div>

<div nz-row style="height: 50px;padding: 10px;">
  <div nz-col [nzSpan]="8">

      <div class="label_div">建筑物状态：</div>
      <span> <nz-select [(ngModel)]="ljzObj.jzwzt" class="w200" [disabled]="isDisable">
        <nz-option *ngFor="let option of dictionaryObj.jzwzt" [nzLabel]="option.name" [nzValue]="option.code">
        </nz-option>
    </nz-select></span>

  </div>
  <div nz-col [nzSpan]="8">


  </div>
  <div nz-col [nzSpan]="8">

  </div>
</div>
  </nz-modal>

  <nz-modal [(nzVisible)]="isVisibleC" nzTitle="层信息"  nzWidth="1030" nzOkText="保存" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk(2)">
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
       <div class="label_div"><span class="clo_r">*</span>层号：</div>
          <span><input  name="ch" maxlength="2" nz-input class="w200"
            required [validation]="cValidation" [validationType]="'number'" nzSize="default" [(ngModel)]="cObj.ch" /></span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"> <span class="clo_r">*</span>实际层：</div>
         <span><input type="number" step="1" name="sjc" maxlength="2" nz-input class="w200"
          required [validation]="cValidation" [validationType]="'number'" nzSize="default" [(ngModel)]="cObj.sjc" /></span>
      </div>
      <div nz-col [nzSpan]="8">
          <div class="label_div"><span class="clo_r">*</span>名义层：</div>
            <span><input type="number" step="1" name="myc" maxlength="2" nz-input class="w200"
              required [validation]="cValidation" [validationType]="'number'" nzSize="default" [(ngModel)]="cObj.myc" /></span>
      </div>
    </div>


        <div nz-row style="height: 50px;padding: 10px;">
          <div nz-col [nzSpan]="8">
            <div class="label_div">层高：</div>
            <span><input type="number" step="1" name="cg" maxlength="10" nz-input class="w200" [validation]="cValidation" [validationType]="'nullAreaNumber'"
               nzSize="default" [(ngModel)]="cObj.cg" /></span>
          </div>
          <div nz-col [nzSpan]="8">
              <div class="label_div">  <span class="clo_r">*</span>是否区分单元号：</div>
              <span> <nz-select [(ngModel)]="cObj.sfqfdy" name="sfqfdy" class="w200"
               nzPlaceHolder="请选择" required [validation]="cValidation">
               <nz-option nzValue="1" nzLabel="是"></nz-option>
               <nz-option nzValue="0" nzLabel="否"></nz-option>
             </nz-select></span>
</div>
          <div nz-col [nzSpan]="8">

          </div>
          </div>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleH" nzTitle="户信息" nzWidth="1000" nzOkText="保存" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk(3)">
    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">
         <div class="label_div"> <span class="clo_r">*</span>不动产单元号： </div>
          <span>
              <input  name="bdcdyh" maxlength="28" nz-input  class="w200" required [validation]="hValidation" nzSize="default" [(ngModel)]="hObj.bdcdyh" />
          </span>
      </div>

      <div nz-col [nzSpan]="8">
          <div class="label_div"> <span class="clo_r">*</span>房屋编码： </div>
           <span>
              <input  name="fwbm" maxlength="26" nz-input  class="w200" required [validation]="hValidation" nzSize="default" [(ngModel)]="hObj.fwbm" />
           </span>
       </div>

       <div nz-col [nzSpan]="8">
          <div class="label_div"> <span class="clo_r">*</span>状态：</div>
           <span>
              <nz-select [(ngModel)]="hObj.zt" name="mjdw" class="w200" required [validation]="hValidation"
              nzPlaceHolder="请选择">
              <nz-option *ngFor="let option of dictionaryObj.bdcdyzt" [nzLabel]="option.name" [nzValue]="option.code">
              </nz-option>
            </nz-select>
           </span>
       </div>
      </div>

      <div nz-row style="height: 50px;padding: 10px;">
          <div nz-col [nzSpan]="8">
              <div class="label_div"><span class="clo_r">*</span>自然幢号：</div>
               <span>
                   <input  name="hObj_zrzh" maxlength="24" nz-input class="w200"
               required [validation]="hValidation" nzSize="default" [(ngModel)]="hObj.zrzh" />
               </span>
           </div>
           <div nz-col [nzSpan]="8">
              <div class="label_div"><span class="clo_r">*</span>逻辑幢号：</div>
               <span>
                   <input  name="hObj_ljzh" maxlength="24" nz-input class="w200"
               required [validation]="hValidation" nzSize="default" [(ngModel)]="hObj.ljzh" />
               </span>
           </div>
          <div nz-col [nzSpan]="8">
              <div class="label_div"><span class="clo_r">*</span>层号：</div>
               <span>
                   <input  name="hObj_ch" maxlength="2" nz-input class="w200"
               required [validation]="hValidation" [validationType]="'number'" nzSize="default" [(ngModel)]="hObj.ch" />
               </span>
           </div>
</div>

      <div nz-row style="height: 50px;padding: 10px;">
          <div nz-col [nzSpan]="8">
              <div class="label_div"> <span class="clo_r">*</span>坐落：</div>
               <span>
                  <input  name="zl" maxlength="50" nz-input class="w200"
                  required [validation]="hValidation" nzSize="default" [(ngModel)]="hObj.zl" />
               </span>
           </div>
           <div nz-col [nzSpan]="8">
              <div class="label_div">   <span class="clo_r">*</span>面积单位： </div>
               <span>
                  <nz-select [(ngModel)]="hObj.mjdw" name="mjdw" class="w200" required [validation]="hValidation"
                  nzPlaceHolder="请选择">
                  <nz-option *ngFor="let option of dictionaryObj.mjdw" [nzLabel]="option.name" [nzValue]="option.code">
                  </nz-option>
                </nz-select>
               </span>
           </div>
           <div nz-col [nzSpan]="8">
              <div class="label_div"><span class="clo_r">*</span>实际层数：</div>
               <span>
                  <input type="number" step="1" name="sjcs" maxlength="2" nz-input class="w200"
                  required [validation]="hValidation" [validationType]="'number'" nzSize="default" [(ngModel)]="hObj.sjcs" />
               </span>
           </div>
      </div>

  <div nz-row style="height: 50px;padding: 10px;">

      <div nz-col [nzSpan]="8">
          <div class="label_div">  <span class="clo_r">*</span>户号：</div>
           <span>
               <input  name="hh" maxlength="3" nz-input class="w200"
               required [validation]="hValidation" [validationType]="'number'" nzSize="default" [(ngModel)]="hObj.hh" />
           </span>
       </div>
       <div nz-col [nzSpan]="8">
          <div class="label_div"> <span class="clo_r">*</span>室号部位：</div>
           <span>
              <input  name="shbw" maxlength="10" nz-input class="w200"
              required [validation]="hValidation" nzSize="default" [(ngModel)]="hObj.shbw" />
           </span>
       </div>
       <div nz-col [nzSpan]="8">
          <div class="label_div"> 户型: </div>
           <span>
               <nz-select [(ngModel)]="hObj.hx" class="w200">
                <nz-option *ngFor="let option of dictionaryObj.hx" [nzLabel]="option.name" [nzValue]="option.code">
                </nz-option>
            </nz-select>
           </span>
       </div>

      </div>






<div nz-row style="height: 50px;padding: 10px;">


              <div nz-col [nzSpan]="8">
                  <div class="label_div"> 户型结构: </div>
                   <span>
                      <nz-select [(ngModel)]="hObj.hxjg" class="w200">
                        <nz-option *ngFor="let option of dictionaryObj.hxjg" [nzLabel]="option.name" [nzValue]="option.code">
                        </nz-option>
                    </nz-select>
                   </span>
               </div>

               <div nz-col [nzSpan]="8">
                  <div class="label_div"> 房屋用途1：</div>
                   <span>
                      <nz-select [(ngModel)]="hObj.fwyt1" class="w200">
                          <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
                          </nz-option>
                      </nz-select>
                   </span>
               </div>

               <div nz-col [nzSpan]="8">
                  <div class="label_div"> 房屋用途2：</div>
                   <span>
                      <nz-select [(ngModel)]="hObj.fwyt2" class="w200">
                          <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
                          </nz-option>
                      </nz-select>
                   </span>
               </div>
              </div>

              <div nz-row style="height: 50px;padding: 10px;">
                  <div nz-col [nzSpan]="8">
                      <div class="label_div"> 房屋用途3：</div>
                       <span>
                          <nz-select [(ngModel)]="hObj.fwyt3" class="w200">
                              <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
                              </nz-option>
                          </nz-select>
                       </span>
                   </div>

                   <div nz-col [nzSpan]="8">
                      <div class="label_div">预测建筑面积：</div>
                       <span>
                          <input  name="ycjzmj" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                           nzSize="default" [(ngModel)]="hObj.ycjzmj" />
                       </span>
                   </div>

                   <div nz-col [nzSpan]="8">
                      <div class="label_div">预测套内建筑面积：</div>
                       <span>
                          <input  name="yctnjzmj" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                           nzSize="default" [(ngModel)]="hObj.yctnjzmj" />
                       </span>
                   </div>
                </div>

                <div nz-row style="height: 50px;padding: 10px;">
                    <div nz-col [nzSpan]="8">
                        <div class="label_div">预测分摊建筑面积：</div>
                         <span>
                            <input  name="ycftjzmj" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                             nzSize="default" [(ngModel)]="hObj.ycftjzmj" />
                         </span>
                     </div>

                     <div nz-col [nzSpan]="8">
                        <div class="label_div">预测地下部分建筑面积：</div>
                         <span>
                            <input  name="ycdxbfjzmj" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                             nzSize="default" [(ngModel)]="hObj.ycdxbfjzmj" />
                         </span>
                     </div>

                     <div nz-col [nzSpan]="8">
                        <div class="label_div">预测其它建筑面积：</div>
                         <span>
                            <input  name="default" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                             nzSize="default" [(ngModel)]="hObj.ycqtjzmj" />
                         </span>
                     </div>
                  </div>




                  <div nz-row style="height: 50px;padding: 10px;">
                      <div nz-col [nzSpan]="8">
                          <div class="label_div"> 预测分摊系数： </div>
                           <span>
                              <input  name="ycftxs" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                              nzSize="default" [(ngModel)]="hObj.ycftxs" />
                           </span>
                       </div>

                      <div nz-col [nzSpan]="8">
                          <div class="label_div">   <span class="clo_r">*</span>实测建筑面积： </div>
                           <span>
                               <input  name="scjzmj" maxlength="10" nz-input class="w200" 
                               required [validation]="hValidation" [validationType]="'nullAreaNumber'" nzSize="default" [(ngModel)]="hObj.scjzmj" />
                           </span>
                       </div>

                       <div nz-col [nzSpan]="8">
                          <div class="label_div">实测套内建筑面积： </div>
                           <span>
                               <input  name="sctnjzmj" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                              nzSize="default" [(ngModel)]="hObj.sctnjzmj" />
                           </span>
                       </div>
                    </div>

                    <div nz-row style="height: 50px;padding: 10px;">
                        <div nz-col [nzSpan]="8">
                            <div class="label_div">   <span class="clo_r">*</span>实测分摊建筑面积： </div>
                             <span>
                                 <input  name="scftjzmj" maxlength="10" nz-input class="w200"
                                 required [validation]="hValidation" [validationType]="'nullAreaNumber'" nzSize="default" [(ngModel)]="hObj.scftjzmj" />
                             </span>
                         </div>

                         <div nz-col [nzSpan]="8">
                            <div class="label_div"> 实测地下部分建筑面积： </div>
                             <span>
                                 <input  name="scdxbfjzmj" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                                 nzSize="default" [(ngModel)]="hObj.scdxbfjzmj" />
                             </span>
                         </div>

                         <div nz-col [nzSpan]="8">
                            <div class="label_div"> 实测其它建筑面积： </div>
                             <span>
                                 <input  name="scqtjzmj" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                                 nzSize="default" [(ngModel)]="hObj.scqtjzmj" />
                             </span>
                         </div>
                      </div>

                      <div nz-row style="height: 50px;padding: 10px;">
                          <div nz-col [nzSpan]="8">
                              <div class="label_div"> <span class="clo_r">*</span>实测分摊系数： </div>
                               <span>
                                  <input  name="scftxs" maxlength="10" nz-input class="w200"
                                  nzSize="default"  required [validation]="hValidation" [validationType]="'nullAreaNumber'" [(ngModel)]="hObj.scftxs" />
                               </span>
                           </div>

                           <div nz-col [nzSpan]="8">
                              <div class="label_div"> 共有土地面积： </div>
                               <span>
                                  <input  name="gytdmj" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                                  nzSize="default" [(ngModel)]="hObj.gytdmj" />
                               </span>
                           </div>

                           <div nz-col [nzSpan]="8">
                              <div class="label_div"> <span class="clo_r">*</span>分摊土地面积： </div>
                               <span>
                                  <input  name="fttdmj" maxlength="10" nz-input class="w200"
                                  nzSize="default"  required [validation]="hValidation" [validationType]="'nullAreaNumber'" [(ngModel)]="hObj.fttdmj" />
                               </span>
                           </div>
                        </div>

                        <div nz-row style="height: 50px;padding: 10px;">
                            <div nz-col [nzSpan]="8">
                                <div class="label_div"> 独用土地面积： </div>
                                 <span>
                                    <input  name="dytdmj" maxlength="10" nz-input class="w200" [validation]="hValidation" [validationType]="'nullAreaNumber'"
                                    nzSize="default" [(ngModel)]="hObj.dytdmj" />
                                 </span>
                             </div>

                             <div nz-col [nzSpan]="8">
                                <div class="label_div">   <span class="clo_r">*</span>房屋类型： </div>
                                 <span>
                                    <nz-select [(ngModel)]="hObj.isnewstock" name="isnewstock" class="w200"
                                    nzPlaceHolder="请选择" required [validation]="hValidation">
                                    <nz-option nzValue="1" nzLabel="商品房"></nz-option>
                                    <nz-option nzValue="2" nzLabel="存量房"></nz-option>
                                  </nz-select>
                                 </span>
                             </div>

                             <div nz-col [nzSpan]="8">
                                <div class="label_div">房屋性质： </div>
                                 <span>
                                    <nz-select [(ngModel)]="hObj.fwxz" class="w200" nzAllowClear nzPlaceHolder="请选择" class="w200">
                                        <nz-option *ngFor="let option of dictionaryObj.fwxz" [nzLabel]="option.name" [nzValue]="option.code">
                                        </nz-option>
                                      </nz-select>
                                 </span>
                             </div>
                          </div>

                          <div nz-row style="height: 50px;padding: 10px;">
                              <div nz-col [nzSpan]="8">
                                  <div class="label_div"> 房产分户图： </div>
                                   <span>
                                      <input  name="fcfht" maxlength="50" nz-input class="w200"
                                      nzSize="default" [(ngModel)]="hObj.fcfht" />
                                   </span>
                               </div>

                               <div nz-col [nzSpan]="8">
                                  <div class="label_div">  <span class="clo_r">*</span>门牌号：</div>
                                   <span>
                                      <input  name="mph" maxlength="50" nz-input class="w200"
                                      required [validation]="hValidation" nzSize="default" [(ngModel)]="hObj.mph" />
                                   </span>
                               </div>

                               <div nz-col [nzSpan]="8">
                                  <div class="label_div">备注：</div>
                                   <span>
                                      <input  name="bz" maxlength="100" nz-input class="w200"
                                       nzSize="default" [(ngModel)]="hObj.bz" />
                                   </span>
                               </div>
                            </div>

                            <div nz-row style="height: 50px;padding: 10px;">
                                <div nz-col [nzSpan]="8">
                                    <div class="label_div">用途名称：</div>
                                     <span>
                                        <input  name="ytmc" maxlength="100" nz-input class="w200"
                                         nzSize="default" [(ngModel)]="hObj.ytmc" />
                                     </span>
                                 </div>

                                 <div nz-col [nzSpan]="8">
                                    <div class="label_div">房屋类型名称：</div>
                                     <span>
                                        <input  name="fwlxmc" maxlength="100" nz-input class="w200"
                                         nzSize="default" [(ngModel)]="hObj.fwlxmc" />
                                     </span>
                                 </div>

                                 <div nz-col [nzSpan]="8">
                                    <div class="label_div">房屋性质名称：</div>
                                     <span>
                                        <input  name="fwxzmc" maxlength="100" nz-input class="w200"
                                         nzSize="default" [(ngModel)]="hObj.fwxzmc" />
                                     </span>
                                 </div>
                              </div>

                              <div nz-row style="height: 50px;padding: 10px;">
                                  <div nz-col [nzSpan]="8">
                                   <div class="label_div"> <span class="clo_r">*</span>单元号： </div>
                                    <span>
                                        <input  name="dyh" maxlength="2" nz-input class="w200"
                                        required [validation]="hValidation" [validationType]="'number'" nzSize="default" [(ngModel)]="hObj.dyh" />
                                    </span>
                                </div>

                                <div nz-col [nzSpan]="8">
                                    <div class="label_div"> <span class="clo_r">*</span>单元名称： </div>
                                     <span>
                                        <input  name="dymc" maxlength="50" nz-input class="w200"
                                        required [validation]="hValidation" nzSize="default" [(ngModel)]="hObj.dymc" />
                                     </span>
                                 </div>

                                 <div nz-col [nzSpan]="8">
                                    <div class="label_div"> <span class="clo_r">*</span>户编号：</div>
                                     <span>
                                        <input  name="hbh" maxlength="3" nz-input class="w200"
                                        required [validation]="hValidation" [validationType]="'number'" nzSize="default" [(ngModel)]="hObj.hbh" />
                                     </span>
                                 </div>
                                </div>
</nz-modal>
