

.login_div{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(../../assets/images/login/login_bj.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.login_contain{
  position: absolute;
  right: calc(50% - 380px);
  top: 17%;
  height: 520px;
  width: 760px;
  background-repeat: no-repeat;
  text-align: center;
}

.login_title{
  font-size: 50px;
  margin-bottom: 50px;
  color:#fff;
}

.login_input{
  width: 370px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 40px!important;
}

.login_btn{
  height: 40px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 0px;
  background-color: #51d3ff;
}

.login_idy{
  height: 32px;
  margin-bottom: 20px;
  cursor: pointer;
}

.login_copy2{
  position: absolute;
  bottom: 0;
  left: calc(50% - 200px);
  line-height: 30px;
  color: #fff;
  font-size: 13px;
}

.login_register{
  color: #fff;
  float: right;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding: 30px;
}

.steps-action {
  margin-top: 24px;
}

#qrcode{
  position: absolute;
    bottom: 7px;
    left: calc(50% + 220px);
}