<div class="content_wrap">
  <div class="card-container">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabsetIndex"
      (nzSelectedIndexChange)="tabsetChange($event)">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name"></nz-tab>
    </nz-tabset>
  </div>

  <div *ngIf="tabsetIndex==0" style="width:100%;height:calc(100% - 90px);overflow: auto">
    <!-- 基本信息 -->
    <div class="jbxx left_wrap" [ngClass]="{'show_balc_lfet':showBalc}">
      <nz-divider nzText="基本信息" nzOrientation="left" style="font-size: 18px"></nz-divider>

      <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="12">
          <div class="label_div">项目名称：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.xmmc" title={{detailObj.xmmc}}
              [disabled]="true" class="w200" /></span>

        </div>

        <div nz-col [nzSpan]="12">
          <div class="label_div">建筑物名称：</div>
          <span><input nz-input nzSize="default" [(ngModel)]="detailObj.jzwmc" title={{detailObj.jzwmc}}
              [disabled]="true" class="w200" /></span>

        </div>
      </div>

      <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="12">
          <div class="label_div">幢号：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.zh" title={{detailObj.zh}} [disabled]="true"
              class="w200" /></span>

        </div>

        <div nz-col [nzSpan]="12">
          <div class="label_div">单元号：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.dyh" title={{detailObj.dyh}} [disabled]="true"
              class="w200" /></span>

        </div>
      </div>
      <div nz-row style="height: 50px;padding: 10px;">

        <div nz-col [nzSpan]="12">
          <div class="label_div">层号：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.ch" title={{detailObj.ch}} [disabled]="true"
              class="w200" /></span>

        </div>

        <div nz-col [nzSpan]="12">
          <div class="label_div">房号：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.fh" title={{detailObj.fh}} [disabled]="true"
              class="w200" /></span>

        </div>

      </div>

      <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="12">
          <div class="label_div">单价（元/平方）：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.dj" title={{detailObj.dj}} maxlength="10"
              [validation]="true" [validationType]="'nullMoney'" [disabled]="isDisable" class="w200" /></span>

        </div>

        <div nz-col [nzSpan]="12">
          <div class="label_div">总价（元）：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.zj" title={{detailObj.zj}} maxlength="10"
              [validation]="true" [validationType]="'nullMoney'" [disabled]="isDisable" class="w200" /></span>

        </div>
      </div>

      <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="12">
          <div class="label_div">入网时间：</div>
          <span>
            <nz-date-picker class="w200" [nzAllowClear]="false" [(ngModel)]="detailObj.rwsj" [disabled]="isDisable">
            </nz-date-picker>
          </span>

        </div>

        <div nz-col [nzSpan]="12">
          <div class="label_div">合同备案号：</div>
          <span><input nz-input nzSize="default" [(ngModel)]="detailObj.htbah" title={{detailObj.htbah}} maxlength="25"
              disabled class="w200" placeholder="登簿完成后自动生成" /></span>

        </div>
      </div>

      <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="12">
          <div class="label_div">不动产权证号：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.bdcqzh" title={{detailObj.bdcqzh}}
              maxlength="50" [disabled]="isDisable" class="w200" /></span>

        </div>

        <div nz-col [nzSpan]="12">
          <div class="label_div">登记时间：</div>
          <span>
            <nz-date-picker class="w200" [nzAllowClear]="false" [(ngModel)]="detailObj.djsj" [disabled]="isDisable">
            </nz-date-picker>
          </span>

        </div>
      </div>

      <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="12">
          <div class="label_div">共有方式：</div>
          <nz-select [(ngModel)]="detailObj.gyqk" class="w200" [disabled]="isDisable" nzAllowClear nzPlaceHolder="请选择">
            <nz-option *ngFor="let option of dictionaryObj.gyfs" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </div>

        <div nz-col [nzSpan]="12">
          <div class="label_div">共有比例：</div>
          <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.gybl" title={{detailObj.gybl}} maxlength="50"
              [disabled]="isDisable" class="w200" /></span>

        </div>
      </div>

      <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="12">
          <div class="label_div">交易方式：</div>
          <nz-select [(ngModel)]="detailObj.jyfs" class="w200" [disabled]="isDisable" nzAllowClear nzPlaceHolder="请选择">
            <nz-option *ngFor="let option of dictionaryObj.jyfs" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </div>

      </div>

      <nz-divider nzText="甲方" nzOrientation="left" style="font-size: 18px"></nz-divider>
      <div nz-row style="height: 50px;padding: 10px;">
        <div style="text-align: center;" nz-col [nzSpan]="5">
          <span class="clo_r">*</span>姓名
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="4">
          联系地址
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
          证件种类
        </div>


        <div style="text-align: center;" nz-col [nzSpan]="4">
          证件号码
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
          联系电话
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="3">
          <button nz-button nzType="primary" [disabled]="isDisable" (click)="addJf()">添加</button>
        </div>
      </div>

      <div *ngFor="let item of jfList;index as index" nz-row style="height: 50px;padding: 10px;">
        <div style="text-align: center;" nz-col [nzSpan]="5">
          <input nz-input nzSize="default" [(ngModel)]="item.jf" title={{item.jf}} [disabled]="isDisable" required
            maxlength="50" [validation]="true" class="w200" placeholder="请输入姓名" />
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
         <input nz-input nzSize="default" [(ngModel)]="item.jflxdz" title={{item.jflxdz}}
              maxlength="50" [disabled]="isDisable" class="w200" />
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
          <nz-select nzPlaceHolder='请选择证件种类' [(ngModel)]="item.jfzjlx" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code.toString()">
            </nz-option>
          </nz-select>
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">     
          <input nz-input nzSize="default" [(ngModel)]="item.jfzjhm" title={{item.jfzjhm}}
              maxlength="25" [disabled]="isDisable" class="w200" />
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
          <span> <input nz-input nzSize="default" [(ngModel)]="item.jflxdh" title={{item.jflxdh}}
            maxlength="15" [disabled]="isDisable" class="w200" /></span>
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="3">
          <button nz-button nzType="primary" [disabled]="isDisable" (click)="deleteJf(item,index)">删除</button>
        </div>
      </div>

      <nz-divider nzText="乙方" nzOrientation="left" style="font-size: 18px"></nz-divider>
      <div nz-row style="height: 50px;padding: 10px;">
        <div style="text-align: center;" nz-col [nzSpan]="5">
          <span class="clo_r">*</span>姓名
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="4">
          联系地址
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
          证件种类
        </div>


        <div style="text-align: center;" nz-col [nzSpan]="4">
          证件号码
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
          联系电话
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="3">
          <button nz-button nzType="primary" [disabled]="isDisable" (click)="addYf()">添加</button>
        </div>
      </div>
      <div *ngFor="let item of yfList;index as index" nz-row style="height: 50px;padding: 10px;">
        <div style="text-align: center;" nz-col [nzSpan]="5">
          <input nz-input nzSize="default" [(ngModel)]="item.yf" title={{item.yf}} [disabled]="isDisable" required
            maxlength="50" [validation]="true" class="w200" placeholder="请输入姓名" />
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
         <input nz-input nzSize="default" [(ngModel)]="item.yflxdz" title={{item.yflxdz}}
              maxlength="50" [disabled]="isDisable" class="w200" />
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
          <nz-select nzPlaceHolder='请选择证件种类' [(ngModel)]="item.yfzjlx" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code.toString()">
            </nz-option>
          </nz-select>
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">     
          <input nz-input nzSize="default" [(ngModel)]="item.yfzjhm" title={{item.yfzjhm}}
              maxlength="25" [disabled]="isDisable" class="w200" />
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="4">
          <span> <input nz-input nzSize="default" [(ngModel)]="item.yflxdh" title={{item.yflxdh}}
            maxlength="15" [disabled]="isDisable" class="w200" /></span>
        </div>

        <div style="text-align: center;" nz-col [nzSpan]="3">
          <button nz-button nzType="primary" [disabled]="isDisable" (click)="deleteYf(item,index)">删除</button>
        </div>
      </div>

      <nz-divider *ngIf="bg" nzText="变更理由" nzOrientation="left" style="font-size: 18px"></nz-divider>
      <textarea nz-input [nzAutosize]="{ minRows: 5, maxRows: 8 }" *ngIf="bg" [(ngModel)]="detailObj.bgly"
        maxlength="250" placeholder="请输入变更理由"></textarea>

      <!-- <nz-divider nzText="共有权人" nzOrientation="left" style="font-size: 18px"></nz-divider>
      <div nz-row style="height: 50px;padding: 10px;">
        <div style="text-align: center;" nz-col [nzSpan]="6">
          <span class="clo_r">*</span>姓名
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="5">
          证件种类
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="5">
          <span class="clo_r">*</span>证件号码
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="5">
          <span class="clo_r">*</span>共有方式
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="3">
          <button nz-button nzType="primary" [disabled]="isDisable" (click)="addpeople()">添加</button>
        </div>
      </div>
      <div *ngFor="let item of detailObj.relationShips;index as index" nz-row style="height: 50px;padding: 10px;">
        <div style="text-align: center;" nz-col [nzSpan]="6">
          <input nz-input nzSize="default" [(ngModel)]="item.name" title={{item.name}} (keyup)="nameChange()"
            [disabled]="isDisable" required maxlength="50" [validation]="true" class="w200" placeholder="请输入姓名" />
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="5">
          <nz-select nzPlaceHolder='请选择证件类别' [(ngModel)]="item.zjlb" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="5">
          <input nz-input nzSize="default" [(ngModel)]="item.sfzh" title={{item.sfzh}} [disabled]="isDisable" required
            [validation]="true" maxlength="25" class="w200" placeholder="请输入证件号码" />
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="5">
          <nz-select [(ngModel)]="item.gyfs" class="w200" nzPlaceHolder="请选择共有方式" [disabled]="isDisable" required
            [validation]="true">
            <nz-option *ngFor="let option of dictionaryObj.gyfs" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </div>
        <div style="text-align: center;" nz-col [nzSpan]="3">
          <button nz-button nzType="primary" [disabled]="isDisable" (click)="deletepeople(item,index)">删除</button>
        </div>
      </div> -->

      <div *ngIf="detailObj.ljzid">
        <nz-divider nzText="楼盘表" nzOrientation="left" style="font-size: 18px"></nz-divider>

        <div class="lpb_div" style="width:980px;margin:0 auto;overflow: auto;">
          <ul [ngStyle]="{'width':(rowSpan + 2)*100+'px'}">
            <li class="ch_td" style="background: #fff">楼层数</li>
            <li style="background: #fff;color: rgba(0, 0, 0, 0.85) " *ngFor="let data of lpbList.dyList; index as index"
              [ngStyle]="{'width':data.rowSpan*100+'px'}">
              {{data.name}}</li>
          </ul>
          <ul [ngStyle]="{'width':(rowSpan + 2)*100+'px'}" *ngFor="let item of lpbList.cList; index as index">
            <li class="ch_td" style="background: #fff">{{item.ch}}层</li>
            <li *ngFor="let hu of item.hList"
              [ngClass]="{'lpb_ydy':hu.status == 1 , 'lpb_ycf':hu.cfStatus == 1,'lpb_yba':hu.tradeType>0,'lpb_yzl':hu.zlStatus==1}"
              nz-popover [nzPopoverTrigger]="hu.mph?'hover':'null'" [nzPopoverContent]="PopoverContent"
              (mouseenter)="selectedHuChange(hu)" [ngStyle]="{'border-color':selectH==hu.id?'red':'#ccc'}"
              (click)="selectH=hu.id">
              {{hu.mph}}</li>
          </ul>

        </div>

        <ul class="lpb_tl">
          <li class="lpb_wba">未备案</li>
          <li class="lpb_kxs">可销售</li>
          <li class="lpb_yba">已备案</li>
          <li class="lpb_ydy">已抵押</li>
          <li class="lpb_ycf">已查封</li>
          <li class="lpb_bks">不可售</li>
          <li class="lpb_yzl">已租赁</li>
        </ul>
      </div>


    </div>

    <!-- 备案流程 -->
    <div class="jbxx right_wrap" [ngClass]="{'show_balc_right':showBalc}" style="padding:0">

      <i *ngIf="!showBalc" class="left_icon" nz-icon nzType="left" nzTheme="outline" (click)="showBalc=!showBalc"></i>
      <i *ngIf="showBalc" class="right_icon" nz-icon nzType="right" nzTheme="outline" (click)="showBalc=!showBalc"></i>
      <div *ngIf="!showBalc" class="ba_title" (click)="showBalc=!showBalc">备案流程</div>


      <nz-divider *ngIf="showBalc" nzText="备案流程" nzOrientation="left" style="font-size: 18px"></nz-divider>

      <nz-timeline *ngIf="showBalc">
        <nz-timeline-item *ngFor="let item of timeline; index as index"
          [nzColor]="detailObj.currentStatus>=item.state?'green':'gray'">
          <p>{{item.name}}</p>
          <p style="margin-bottom: 0">
            {{detailObj&&detailObj.wfAuditList&&detailObj.wfAuditList[index] ? detailObj.wfAuditList[index].shrq : ''}}
          </p>
        </nz-timeline-item>

      </nz-timeline>

    </div>
  </div>


  <div *ngIf="tabsetIndex==1" style="width:100%;height:calc(100% - 90px);overflow: auto;background: #fff">

    <div class="file_left">
      <ul class="fileTypeList_ul">
        <li *ngFor="let item of fileTypeList;index as index" (click)="fileTypeIndexChange(index)"
          [ngClass]="{'file_type_selected':fileTypeIndex == index}">
          <nz-badge [nzCount]="item.count" nzShowZero
            [nzStyle]="{ backgroundColor: '#a0a0a0', color: '#fff' , marginRight:'10px'}"></nz-badge>
          <span>{{item.name}}</span>
        </li>
      </ul>
    </div>

    <!-- 附件 -->
    <div class="jbxx file_right">
      <div nz-row style="height: 50px;padding: 10px;">
        <button *ngIf="!isDisable" nz-button nzType="primary" [nzVisible]="!detailObj.id" [disabled]="!detailObj.id"
          nz-tooltip nzTooltipTitle="请先保存合同信息" nzTooltipPlacement="bottom" (click)="upload()"><i nz-icon
            nzType="plus"></i>
          上传附件
        </button>
        <button nz-button nzType="default" *ngIf="!isDisable" nz-popconfirm nzTitle="确定删除吗?"
          (nzOnConfirm)="btachDelete()">
          批量删除
        </button>
        <button nz-button nzType="default" *ngIf="!isDisable" (click)="btachDown()">
          批量下载
        </button>
      </div>

      <nz-table #nestedTable [nzData]="fjList" class="commontable tablescoll_rainbow" [nzLoading]="Loading"
      [nzShowTotal]="rangeTemplate" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" nzShowPagination nzShowQuickJumper nzShowSizeChanger
        [nzTotal]="totalCount" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
        (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzScroll]="tableIsScroll" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th style="width:10%" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked"
              [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
            <th>附件名称</th>
            <th>上传日期</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nestedTable.data; index as index" [ngClass]="{ itemSeleted: data.id == selectId }"
            (click)="selectItem(data)">
            <td style="width:10%" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
              (nzCheckedChange)="refreshStatus()"></td>
            <td>{{ data.clientFileName }}</td>
            <td>{{ data.uploadDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td style="width:30%">
              <a class="table_a"
                *ngIf="data.fileSuffix=='jpg' || data.fileSuffix=='jpeg' || data.fileSuffix=='png' || data.fileSuffix=='bmp' ||  data.fileSuffix=='pdf'"
                (click)="previewImg(data)">查看</a>
              <a class="table_a" *ngIf="!isDisable" nz-popconfirm nzTitle="确定删除吗?"
                (nzOnConfirm)="btachDelete(data)">删除</a>
              <a class="table_a" (click)="btachDown(data)">下载</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <div class="jbxx" *ngIf="tabsetIndex==2&&!associatedCompanyShow">
    <app-lpbgl [glType]="'stockTrade'" [pid]="detailObj.id"></app-lpbgl>
  </div>


  <div class="jbxx" *ngIf="(tabsetIndex==2&&associatedCompanyShow)||tabsetIndex==3" style="overflow: hidden">
    <app-associated-company [associatedid]="detailObj.id" modulename="stockTrade" [selectShow]="!isDisable">
    </app-associated-company>
  </div>



  <div style="width:100%;height: 50px;padding: 10px;text-align: right;padding-right: 20px;float:left">
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <button nz-button nzType="default" (click)="cancel()">返回</button>
        <button nz-button nzType="primary" *ngIf="!isDisable&&tabsetIndex==0" [disabled]="isbusy"
          (click)="save()">保存</button>
        <button nz-button nzType="primary" *ngIf="!isDisable&&detailObj.ljzid" (click)="linkH()">关联户</button>
      </div>

    </div>
  </div>



</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="附件上传" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <app-upload #uploadComponent [refid]="detailObj.id" [type]="fileType" (outer)="outer($event)"></app-upload>
</nz-modal>

<nz-modal [(nzVisible)]="isImgVisible" nzTitle="附件预览" (nzOnCancel)="isImgVisible = false" [nzFooter]="null">
  <img src="{{currentImg}}" style="width:100%">
</nz-modal>


<ng-template #PopoverContent>
  <p>门牌号：{{selectedHu.mph}}</p>
  <p>层数：{{selectedHu.ch}}</p>
  <p>单元号：{{selectedHu.dyh}}</p>
  <p>面积：{{selectedHu.scjzmj}}</p>
  <p>不动产登记号：{{selectedHu.bdcdyh}}</p>
  <p>坐落：{{selectedHu.zl}}</p>
</ng-template>

<ng-template #rangeTemplate let-range="range" let-total>
  共{{total}}条记录&nbsp;&nbsp;
</ng-template>