<div class="list_content_wrap">
    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="8">
            所属区域：
            <nz-tree-select [nzDropdownStyle]="{ 'max-height': '300px' }" class="w150" nzPlaceHolder="请选择行政区划"
                [nzNodes]="regionTreeNodes" [nzDefaultExpandAll]="true" [nzAllowClear]="true" [(ngModel)]="regioncode"
                nzShowExpand>
            </nz-tree-select>
        </div>
        <div nz-col [nzSpan]="8">
            详细地址：
            <input nz-input nzSize="default" [(ngModel)]="address" class="w150" placeholder="请输入详细地址" (keyup.enter)="search()" />
        </div>

        <div nz-col [nzSpan]="8">
            用途
            <nz-select [(ngModel)]="usetype" class="w150" nzPlaceHolder="请选择">
                <nz-option nzValue="" nzLabel="全部"></nz-option>
                <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
                </nz-option>
            </nz-select>
        </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">


        <div nz-col [nzSpan]="8">
            是否装修：
            <nz-select [(ngModel)]="isdecorated" class="w150" nzPlaceHolder="请选择">
                <nz-option nzValue="" nzLabel="全部"></nz-option>
                <nz-option nzValue="1" nzLabel="是"></nz-option>
                <nz-option nzValue="2" nzLabel="否"></nz-option>
            </nz-select>
        </div>
        <div>

        </div>
        <div nz-col [nzSpan]="16" class="ta_r">
            <button nz-button nzType="primary" (click)="search()">
                查询
            </button>
            <button nz-button nzType="default" (click)="reset()">
                重置
            </button>
        </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="24">
            <button *ngIf="canzsgc" nz-button nzType="primary" (click)="add(1)"><i nz-icon nzType="plus"></i>
                添加
            </button>
            <button *ngIf="canzsgc" nz-button nzType="default" nz-popconfirm nzTitle="确定删除吗?"
                (nzOnConfirm)="btachDelete()">
                批量删除
            </button>
        </div>
    </div>

    <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzLoading]="Loading"
        [nzShowTotal]="rangeTemplate" [nzPageIndex]="pageIndex" nzShowPagination nzShowQuickJumper nzShowSizeChanger
        [nzPageSize]="pageSize" [nzTotal]="totalCount" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzScroll]="tableIsScroll" [nzFrontPagination]="false">
        <thead (nzSortChange)="sort($event)">
            <tr>
                <th style="width:10%" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked"
                    [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
                <th style="width:20%">房屋出租编号</th>
                <th>联系人</th>
                <th>所属区域</th>
                <th nzShowSort nzSortKey="area">面积</th>
                <th nzShowSort nzSortKey="rental">租金</th>
                <th nzShowSort nzSortKey="houseage">房龄</th>
                <th style="width:20%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nestedTable.data; index as index" [ngClass]="{ itemSeleted: data.id == selectId }"
                (click)="selectItem(data)">
                <td style="width:10%" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]"
                    [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td>
                <td style="width:20%" title="{{data.serialnumber}}">{{ data.serialnumber}}</td>
                <td title="{{data.linker}}">{{ data.linker |tooltips:15}}</td>
                <td>{{ data.regionName }}</td>
                <td>{{ data.area }}</td>
                <td>{{ data.rental }}</td>
                <td>{{ data.houseage }}</td>
                <td style="width:20%">
                    <a class="table_a" (click)="add(2,data)">查看</a>
                    <a *ngIf="canzsgc" class="table_a" (click)="add(3,data)">编辑</a>
                    <a *ngIf="canzsgc" class="table_a" nz-popconfirm nzTitle="确定删除吗?"
                        (nzOnConfirm)="delete([data.id])">删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <ng-template #rangeTemplate let-range="range" let-total>
        共{{total}}条记录&nbsp;&nbsp;
    </ng-template>

</div>