<div nz-row style="height: 50px;padding: 10px;" *ngIf="!isDisable">
    <button nz-button nzType="primary" (click)="upload()"><i nz-icon nzType="plus"></i>
        上传附件
    </button>
</div>

<div *ngIf="fileList&&fileList.length>0||!isDisable">

    <div [ngClass]="{'file_div':!isDisable,'file_div_check':isDisable}">
        <div *ngFor="let fileItem of fileList">
            <div class="file_item">
                <i nz-icon type="paper-clip" theme="outline" class="flie_item_pic"></i>
                <span nz-tooltip nzTitle={{fileItem.name}}>{{fileItem.name|tooltips:30}}</span>

                <i nz-icon type="close" style="color: red;" theme="outline" class="file_item_delete" *ngIf="!isDisable"
                    nz-popconfirm nzTitle="确定删除吗?" (nzOnConfirm)="RemoveAttachment(fileItem)"></i>

                <i nz-icon type="eye" theme="outline" title="预览" *ngIf="canPreview(fileItem.name)" class="file_item_btn"
                    (click)="preview(fileItem)"></i>

                <i nz-icon type="download" theme="outline" title="下载" (click)="downloadAccessory(fileItem)"
                    class="file_item_btn"></i>


            </div>
        </div>
    </div>

</div>

<nz-modal [(nzVisible)]="isVisible"  nzTitle="附件上传" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
    <app-upload #uploadComponent (outer)="uploadCompelete($event)" [refid]="refid"></app-upload>
</nz-modal>

<nz-modal [(nzVisible)]="isVisiblePic" nzTitle="预览" [nzOkText]="okText" (nzOnCancel)="isVisiblePic=false;">
    <img [src]="previewUrl" style="width: 470px;height: 300px;"/>
</nz-modal>