<div style="height: 100%;">
    <div class="jbxx1">
        <nz-divider nzText="基本信息" nzOrientation="left" style="font-size: 18px"></nz-divider>

        <div nz-row style="height: 50px;padding: 10px;">
            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>姓名：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.name" [disabled]="isDisable" required
                    [validation]="true" class="w200" maxlength="20" placeholder="请输入姓名" />
            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">性别：</div>
                <nz-select nzPlaceHolder='请选择性别' [(ngModel)]="employee.gender" class="w200" [disabled]="isDisable">
                    <nz-option *ngFor="let option of genderList" [nzLabel]="option.name" [nzValue]="option.code">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">学历：</div>
                <nz-select nzPlaceHolder='请选择学历' [(ngModel)]="employee.education" class="w200" [disabled]="isDisable">
                    <nz-option *ngFor="let option of educationList" [nzLabel]="option.name" [nzValue]="option.code">
                    </nz-option>
                </nz-select>
            </div>
        </div>

        <div nz-row style="height: 50px;padding: 10px;">
            <div nz-col [nzSpan]="8">
                <div class="label_div">专业：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.major" [disabled]="isDisable" class="w200"
                    placeholder="请输入专业" maxlength="50" />
            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">证件类别：</div>
                <nz-select nzPlaceHolder='请选择证件类别' [(ngModel)]="employee.zjlb" class="w200" [disabled]="isDisable">
                    <nz-option *ngFor="let option of zjlbList" [nzLabel]="option.name" [nzValue]="option.code">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">证件号：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.zjh" [disabled]="isDisable" class="w200"
                    placeholder="请输入证件号" maxlength="30" />
            </div>
        </div>

        <div nz-row style="height: 50px;padding: 10px;">
            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>联系电话：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.phone" [disabled]="isDisable" required
                    [validation]="true" maxlength="15" validationType="nullphonenumber" class="w200"
                    placeholder="请输入联系电话" />
            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">电子邮箱：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.email" [disabled]="isDisable" [validation]="true"
                    validationType="nullEmail" maxlength="20" class="w200" placeholder="请输入电子邮箱" />
            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">服务机构名称：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.fwjgdm" [disabled]="isDisable" class="w200"
                    placeholder="请选择服务机构" maxlength="35" />
            </div>
        </div>

        <div nz-row style="height: 50px;padding: 10px;">

            <div nz-col [nzSpan]="8">
                <div class="label_div">行政区划：</div>
                <nz-tree-select [nzDropdownStyle]="{ 'max-height': '300px' }" class="w200" [disabled]="isDisable"
                    nzPlaceHolder="请选择行政区划" [nzNodes]="regionTreeNodes" [nzDefaultExpandAll]="true"
                    [nzAllowClear]="true" [(ngModel)]="employee.regioncode" nzShowExpand>
                </nz-tree-select>
            </div>

            <div nz-col [nzSpan]="16">
                <div class="label_div">详细地址：</div>
                <input style="width: calc(100% - 248px);" nz-input nzSize="default" [(ngModel)]="employee.address"
                    [disabled]="isDisable" maxlength="255" placeholder="请输入详细地址" />

            </div>

        </div>


        <nz-divider nzText="资质信息" nzOrientation="left" style="font-size: 18px"></nz-divider>


        <div nz-row style="height: 50px;padding: 10px;">
            <div nz-col [nzSpan]="8">
                <div class="label_div"> 岗位证书名称：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.zsmc" [disabled]="isDisable" class="w200"
                    placeholder="请输入岗位证书名称" maxlength="30" />
            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">证书编号：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.zsbh" [disabled]="isDisable" class="w200"
                    placeholder="请输入证书编号" maxlength="60" />
            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">职务：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.postion" [disabled]="isDisable" class="w200"
                    placeholder="请输入职务" maxlength="35" />
            </div>
        </div>


        <div nz-row style="height: 50px;padding: 10px;">
            <div nz-col [nzSpan]="8">
                <div class="label_div">从业年限：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.cynx" [disabled]="isDisable" [validation]="true"
                    class="w200" validationType='nullnumber' placeholder="请输入从业年限" maxlength="2" />
            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">服务年限：</div>
                <input nz-input nzSize="default" [(ngModel)]="employee.fwnx" [disabled]="isDisable" [validation]="true"
                    class="w200" validationType='nullnumber' placeholder="请输入服务年限" maxlength="2" />
            </div>
        </div>

        <app-attachment [fileList]="fileList" [isDisable]="isDisable" [refid]="employee.id" #attachmentComponent> </app-attachment>

        <nz-divider nzText="备注" nzOrientation="left" style="font-size: 18px"></nz-divider>

        <textarea [disabled]="isDisable" maxlength="500" nz-input [nzAutosize]="{ minRows: 5, maxRows: 8 }"
            [(ngModel)]="employee.bz"></textarea>

        
    </div>

    <div nz-row style="height: 50px;padding: 10px;text-align: right;padding-right: 20px;">
        <div nz-col [nzSpan]="24">
            <button (click)="quit()" nz-button nzType="default">取消</button>
            <button *ngIf="!isDisable" nz-button nzType="primary" (click)="save()">保存</button>
        </div>

    </div>
</div>