<div class="list_content_wrap">
    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="7">
            经纪企业名称：
            <input nz-input nzSize="default" [(ngModel)]="qymc" class="w150" placeholder="请输入开发企业名称" />
        </div>
        <div nz-col [nzSpan]="6">
            企业类型：
            <nz-select [(ngModel)]="qylx" class="w150" nzPlaceHolder="请选择">
                <nz-option nzValue="" nzLabel="全部"></nz-option>
                <nz-option *ngFor="let option of dictionaryObj.qylx" [nzLabel]="option.name" [nzValue]="option.code">
                </nz-option>
            </nz-select>
        </div>

        <div nz-col [nzSpan]="6">
            审核状态：
            <nz-select [(ngModel)]="auditType" class="w150" nzPlaceHolder="请选择">
                <nz-option nzValue="" nzLabel="全部"></nz-option>
                <nz-option nzValue="0" nzLabel="未提交"></nz-option>
                <nz-option nzValue="1" nzLabel="待审核"></nz-option>
                <nz-option nzValue="2" nzLabel="已审核"></nz-option>
                <nz-option nzValue="2" nzLabel="待修改"></nz-option>
            </nz-select>
        </div>
        <div nz-col [nzSpan]="5" class="ta_r">
            <button nz-button nzType="primary" (click)="search()">
                查询
            </button>
            <button nz-button nzType="default" (click)="reset()">
                重置
            </button>
        </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="24">
            <button *ngIf="canzsgc" nz-button nzType="primary" (click)="add(1)"><i nz-icon nzType="plus"></i>
                添加
            </button>
            <button *ngIf="canzsgc" nz-button nzType="default" nz-popconfirm nzTitle="确定删除吗?"
                (nzOnConfirm)="btachDelete()">
                批量删除
            </button>
            <button *ngIf="cansh" nz-button nzType="default" (click)="btachAudit()">
                批量审核
            </button>
        </div>
    </div>

    <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzLoading]="Loading"
        [nzShowTotal]="rangeTemplate" [nzPageIndex]="pageIndex" nzShowPagination nzShowQuickJumper nzShowSizeChanger
        [nzPageSize]="pageSize" [nzTotal]="totalCount" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzScroll]="tableIsScroll" [nzFrontPagination]="false">
        <thead (nzSortChange)="sort($event)">
            <tr>
                <th style="width:10%" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked"
                    [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
                <th>经济企业名称</th>
                <th>企业法人代表</th>
                <th>联系电话</th>
                <th nzShowSort nzSortKey="AUDIT_TYPE">审核状态</th>
                <th style="width:30%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nestedTable.data; index as index" [ngClass]="{ itemSeleted: data.id == selectId }"
                (click)="selectItem(data)">
                <td style="width:10%" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]"
                    [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td>
                <td title="{{data.qymc}}">{{ data.qymc |tooltips:15}}</td>
                <td title="{{data.qyfr}}">{{ data.qyfr |tooltips:15}}</td>
                <td>{{ data.phone }}</td>
                <td
                    [ngClass]="{'cr0':data.auditType==0, 'cr1':data.auditType==1,'cr2':data.auditType==2,'cr3':data.auditType==3}">
                    <div class="point"
                        [ngClass]="{'point0':data.auditType==0, 'point1':data.auditType==1,'point2':data.auditType==2,'point3':data.auditType==3}">
                    </div>{{ data.auditType|audit }}
                </td>
                <td style="width:30%">
                    <a class="table_a" (click)="add(2,data)">查看</a>
                    <a class="table_a" (click)="rolemanage(data)" *ngIf="data.auditType==2&&cantjsh">权限管理</a>
                    <a class="table_a" *ngIf="(data.auditType==0||data.auditType==3)&&canzsgc"
                        (click)="add(3,data)">编辑</a>
                    <a class="table_a" *ngIf="data.auditType==1&&cansh" (click)="audit(data)">审核</a>
                    <a class="table_a" *ngIf="(data.auditType==0||data.auditType==3)&&canzsgc" nz-popconfirm
                        nzTitle="确定删除吗?" (nzOnConfirm)="delete([data.id])">删除</a>
                    <a class="table_a" *ngIf="(data.auditType==0||data.auditType==3)&&cantjsh" nz-popconfirm
                        nzTitle="确定提交审核吗?" (nzOnConfirm)="auditCompany(data.id,1)">提交审核</a>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <nz-modal [(nzVisible)]="isVisible" nzTitle="审核" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
        [nzOkLoading]="isOkLoading" [nzWidth]="800">

        <div nz-row style="height: 60px;">

            <div nz-col [nzSpan]="12" class="ta_r">
                <div class="label_div"><span class="clo_r">*</span>审核结果</div>
                <nz-select [(ngModel)]="auditObj.shjg" class="w200" required [validation]="true" name="shjg"
                    nzPlaceHolder="请选择">
                    <nz-option *ngFor="let option of auditList" [nzLabel]="option.name" [nzValue]="option.code">
                    </nz-option>
                </nz-select>
            </div>

        </div>

        <div nz-row style="height: 60px;">

            <div nz-col [nzSpan]="12" class="ta_r">
                <div class="label_div">审核人</div>
                <input nz-input nzSize="default" [(ngModel)]="auditObj.shry" class="w200" maxlength="50" />
            </div>

            <div nz-col [nzSpan]="12" class="ta_r">
                <div class="label_div">审核日期</div>
                <nz-date-picker class="w200" [nzStyle]="{'width':'200px'}" [(ngModel)]="auditObj.shrq"
                    placeholder="请输入审核日期">
                </nz-date-picker>
            </div>

        </div>

        <div nz-row>
            <div nz-col [nzSpan]="24" class="ta_l">
                <div class="label_div">备注</div>
                <textarea style="width: calc(100% - 175px);margin-left: 35px;" nz-input
                    [nzAutosize]="{ minRows: 5, maxRows: 8 }" [(ngModel)]="auditObj.bz" maxlength="500"></textarea>
            </div>
        </div>
    </nz-modal>

    <nz-modal [(nzVisible)]="isVisibleRole" nzTitle="权限管理" (nzOnCancel)="isVisibleRole=false" (nzOnOk)="handleOkRole()"
        [nzOkLoading]="isOkLoadingRole" [nzWidth]="700">
        <div style="padding: 20px;">
            <div nz-row style="height: 30px;">
                <div nz-col [nzSpan]="12">
                    用户角色
                </div>
                <div nz-col [nzSpan]="12">
                    企业名称
                </div>
            </div>

            <div nz-row style="height: 60px;">
                <div nz-col [nzSpan]="12">
                    经纪企业
                </div>
                <div nz-col [nzSpan]="12">
                    {{roleData.name}}
                </div>
            </div>

            <div nz-row style="height: 30px;">
                <div nz-col [nzSpan]="12">
                    是否启用（不启用则无法使用该账户登录）
                </div>
            </div>

            <div nz-row style="height: 60px;">
                <div nz-col [nzSpan]="12">
                    <nz-switch [(ngModel)]="roleData.switchValue"></nz-switch>
                </div>
            </div>

            <div nz-row style="height: 30px;">
                <div nz-col [nzSpan]="12">
                    用户名
                </div>
            </div>

            <div nz-row style="height: 60px;">
                <div nz-col [nzSpan]="12">
                    <input nz-input nzSize="default" [(ngModel)]="roleData.zjh" class="w200T" maxlength="50" />
                </div>
            </div>

            <div nz-row style="height: 30px;">
                <div nz-col [nzSpan]="12">
                    登录密码
                </div>
                <div nz-col [nzSpan]="12">
                    确认密码
                </div>
            </div>

            <div nz-row style="height: 60px;">
                <div nz-col [nzSpan]="12">
                    <input nz-input nzSize="default" [(ngModel)]="roleData.password" class="w200T" maxlength="50" />
                </div>
                <div nz-col [nzSpan]="12">
                    <input nz-input nzSize="default" [(ngModel)]="roleData.passwordSure" class="w200T" maxlength="50" />
                </div>
            </div>
        </div>
    </nz-modal>

    <ng-template #rangeTemplate let-range="range" let-total>
        共{{total}}条记录&nbsp;&nbsp;
    </ng-template>
</div>