<div style="height: 100%;">
  <div class="card-container">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabsetIndex"
      (nzSelectedIndexChange)="tabsetChange($event)">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name"></nz-tab>
    </nz-tabset>
  </div>

  <!-- 基本信息 -->
  <div class="jbxx" *ngIf="tabsetIndex==0">
    <nz-divider nzText="基本信息" nzOrientation="left" style="font-size: 18px"></nz-divider>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>产权人姓名：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.cqrxm" [disabled]="isDisable"
            title={{detailObj.cqrxm}} required maxlength="50" [validation]="true" class="w200" placeholder="请输入产权人姓名" />
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>房型：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.fx" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable" required
            [validation]="true">
            <nz-option *ngFor="let option of fxList" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>建筑面积：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.jzmj" title={{detailObj.jzmj}}
            [disabled]="isDisable" required [validation]="true" [validationType]="'areaNumber'" maxlength="10"
            class="w200" placeholder="请输入建筑面积" /></span>
        &nbsp;㎡
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <!-- <div nz-col [nzSpan]="8">
        <div class="label_div">行政区划：</div>
        <span>
          <nz-tree-select [nzDropdownStyle]="{ 'max-height': '300px' }" class="w200" [disabled]="isDisable"
            nzPlaceHolder="请选择行政区划" [nzNodes]="regionTreeNodes" [nzDefaultExpandAll]="true" [nzAllowClear]="true"
            [(ngModel)]="detailObj.regionCode" nzShowExpand>
          </nz-tree-select>
        </span>

      </div> -->

      <div nz-col [nzSpan]="24">
        <div class="label_div">详细地址：</div>
        <span>
          <input style="width: calc(100% - 166px);" nz-input nzSize="default" [(ngModel)]="detailObj.address"
            title={{detailObj.address}} [disabled]="isDisable" maxlength="120" placeholder="请输入详细地址" />
        </span>


      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>层号：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.ch" title={{detailObj.ch}} [disabled]="isDisable"
            required [validation]="true" [validationType]="'number'" maxlength="2" class="w200" placeholder="请输入层号" />
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>坐落：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.zl" title={{detailObj.zl}} [disabled]="isDisable"
            required [validation]="true" maxlength="100" class="w200" placeholder="请输入坐落" />
        </span>

      </div>
      <!-- <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>面积单位：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.mjdw" nzPlaceHolder="请选择" class="w200" required [validation]="true"
            [disabled]="isDisable">
            <nz-option *ngFor="let option of dictionaryObj.mjdw" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>
      </div> -->
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>实际层数：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.sjcs" title={{detailObj.sjcs}} required
            [validation]="true" [validationType]="'number'" [disabled]="isDisable" maxlength="2" class="w200"
            placeholder="请输入实际层数" />
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>户号：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.hh" title={{detailObj.hh}} required
            [validation]="true" [validationType]="'number'" [disabled]="isDisable" maxlength="3" class="w200"
            placeholder="请输入户号" />
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>室号部位：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.shbw" title={{detailObj.shbw}} required
            [validation]="true" [disabled]="isDisable" maxlength="10" class="w200" placeholder="请输入室号部位"
            (ngModelChange)="shbwChange()" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">户型：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.hx" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of dictionaryObj.hx" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">户型结构：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.hxjg" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of dictionaryObj.hxjg" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">房屋用途：</div>
        <nz-select [(ngModel)]="detailObj.fwyt1" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
          <nz-option *ngFor="let option of dictionaryObj.fwyt" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.ycjzmj" title={{detailObj.ycjzmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入预测建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测套内建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.yctnjzmj" title={{detailObj.yctnjzmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入预测套内建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测分摊建筑面积：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.ycftjzmj" title={{detailObj.ycftjzmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入预测分摊建筑面积" />
        </span>
        &nbsp;㎡
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测地下部分建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.ycdxbfjzmj" title={{detailObj.ycdxbfjzmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入预测地下部分建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测其它建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.ycqtjzmj" title={{detailObj.ycqtjzmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入预测其它建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测分摊系数：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.ycftxs" title={{detailObj.ycftxs}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入预测分摊系数" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>实测建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.scjzmj" title={{detailObj.scjzmj}}
            [disabled]="isDisable" maxlength="10" required [validation]="true" [validationType]="'nullAreaNumber'"
            class="w200" placeholder="请输入实测建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测套内建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.sctnjzmj" title={{detailObj.sctnjzmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入实测套内建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测分摊建筑面积：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.scftjzmj" title={{detailObj.scftjzmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入实测分摊建筑面积" />
        </span>
        &nbsp;㎡
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测地下部分建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.scdxbfjzmj" title={{detailObj.scdxbfjzmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入实测地下部分建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测其它建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.scqtjzmj" title={{detailObj.scqtjzmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入实测其它建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>实测分摊系数：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.scftxs" title={{detailObj.scftxs}}
            [disabled]="isDisable" maxlength="10" required [validation]="true" [validationType]="'nullAreaNumber'"
            class="w200" placeholder="请输入实测分摊系数" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">共有土地面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.gytdmj" title={{detailObj.gytdmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入共有土地面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>分摊土地面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.fttdmj" title={{detailObj.fttdmj}}
            [disabled]="isDisable" maxlength="10" required [validation]="true" [validationType]="'nullAreaNumber'"
            class="w200" placeholder="请输入分摊土地面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">独用土地面积：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.dytdmj" title={{detailObj.dytdmj}}
            [disabled]="isDisable" maxlength="10" [validation]="true" [validationType]="'nullAreaNumber'" class="w200"
            placeholder="请输入独用土地面积" />
        </span>
        &nbsp;㎡
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">房屋类型：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.fwlx" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of dictionaryObj.fwlx" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">房屋性质：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.fwxz" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of dictionaryObj.fwxz" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">房产分户图：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.fcfht" title={{detailObj.fcfht}}
            [disabled]="isDisable" maxlength="100" class="w200" placeholder="请输入房产分户图" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>门牌号：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.mph" title={{detailObj.mph}} [disabled]="isDisable"
            maxlength="30" required [validation]="true" class="w200" placeholder="门牌号" />
        </span>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">用途名称：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.ytmc" title={{detailObj.ytmc}} [disabled]="isDisable"
            maxlength="30" class="w200" placeholder="用途名称" />
        </span>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">房屋类型名称：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.fwlxmc" title={{detailObj.fwlxmc}}
            [disabled]="isDisable" maxlength="30" class="w200" placeholder="房屋类型名称" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">房屋性质名称：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.fwxzmc" title={{detailObj.fwxzmc}}
            [disabled]="isDisable" maxlength="30" class="w200" placeholder="房屋性质名称" />
        </span>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>单元号：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.dyh" title={{detailObj.dyh}} [disabled]="isDisable"
            maxlength="2" required [validation]="true" [validationType]="'number'" class="w200" placeholder="单元号" />
        </span>
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>单元名称：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.dymc" title={{detailObj.dymc}}
            [disabled]="isDisable" maxlength="30" required [validation]="true" class="w200" placeholder="单元名称" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>户编号：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.hbh" title={{detailObj.hbh}} [disabled]="isDisable"
            maxlength="3" required [validation]="true" [validationType]="'number'" class="w200" placeholder="户编号" />
        </span>
      </div>
    </div>

    <div *ngIf="detailObj.ljzid">
      <nz-divider nzText="楼盘表" nzOrientation="left" style="font-size: 18px"></nz-divider>

      <div class="lpb_div" style="width:980px;margin:0 auto;overflow: auto;">
        <ul [ngStyle]="{'width':(rowSpan + 2)*100+'px'}">
          <li class="ch_td" style="background: #fff">楼层数</li>
          <li style="background: #fff;color: rgba(0, 0, 0, 0.85) " *ngFor="let data of lpbList.dyList; index as index"
            [ngStyle]="{'width':data.rowSpan*100+'px'}">
            {{data.name}}</li>
        </ul>
        <ul [ngStyle]="{'width':(rowSpan + 2)*100+'px'}" *ngFor="let item of lpbList.cList; index as index">
          <li class="ch_td" style="background: #fff">{{item.ch}}层</li>
          <li *ngFor="let hu of item.hList"
            [ngClass]="{'lpb_ydy':hu.status == 1 , 'lpb_ycf':hu.cfStatus == 1,'lpb_yba':hu.tradeType>0,'lpb_yzl':hu.zlStatus==1}"
            nz-popover [nzPopoverTrigger]="hu.mph?'hover':'null'" [nzPopoverContent]="PopoverContent"
            (mouseenter)="selectedHuChange(hu)" [ngStyle]="{'border-color':selectH==hu.id?'red':'#ccc'}"
            (click)="selectH=hu.id">
            {{hu.mph}}</li>
        </ul>

      </div>
      <ul class="lpb_tl">
        <li class="lpb_wba">未备案</li>
        <li class="lpb_kxs">可销售</li>
        <li class="lpb_yba">已备案</li>
        <li class="lpb_ydy">已抵押</li>
        <li class="lpb_ycf">已查封</li>
        <li class="lpb_bks">不可售</li>
        <li class="lpb_yzl">已租赁</li>
      </ul>
    </div>

    <nz-divider nzText="产权所属关系" nzOrientation="left" style="font-size: 18px"></nz-divider>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="5">
        <div style="text-align: center;" class="label_div"> <span class="clo_r">*</span>联系单位（人）</div>
      </div>
      <div style="text-align: center;" nz-col [nzSpan]="4">
        证件种类
      </div>
      <div style="text-align: center;" nz-col [nzSpan]="4">
        证件号码
      </div>
      <div nz-col [nzSpan]="4">
        <div style="text-align: center;" class="label_div">联系方式</div>
      </div>
      <div nz-col [nzSpan]="4">
        <div style="text-align: center;width: 110px;" class="label_div">共有方式</div>
      </div>
      <div nz-col [nzSpan]="3">
        <button nz-button nzType="primary" [disabled]="isDisable" (click)="addpeople()">添加</button>
      </div>
    </div>
    <div *ngFor="let item of detailObj.relationShips;index as index" nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="5">
        <span>
        <input nz-input nzSize="default" [(ngModel)]="item.name" title={{item.name}} [disabled]="isDisable" required
          maxlength="50" [validation]="true" class="w200" placeholder="联系单位（人）" />
        </span>
      </div>
      <div nz-col [nzSpan]="4">

        <nz-select nzPlaceHolder='请选择证件种类' [(ngModel)]="item.zjlb" title={{item.zjlb}} class="w200" [disabled]="isDisable">
          <nz-option *ngFor="let option of dictionaryObj.zjlb" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="4">
        <input nz-input nzSize="default" [(ngModel)]="item.sfzh" title={{item.sfzh}} [disabled]="isDisable" 
        maxlength="25" class="w200" placeholder="请输入证件号码" />
      </div>

      <div nz-col [nzSpan]="4">
        <span>
        <input nz-input nzSize="default" [(ngModel)]="item.lxdh" title={{item.lxdh}} maxlength="15"
          [disabled]="isDisable" [validation]="true" [validationType]="'nullphonenumber'" class="w200"
          placeholder="请输入联系方式" /></span>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-select [(ngModel)]="item.gyfs" class="w200" nzPlaceHolder="请选择共有方式" [disabled]="isDisable" >
            <nz-option *ngFor="let option of dictionaryObj.gyfs" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="3">
        <button nz-button nzType="primary" (click)="deletepeople(item,index)">删除</button>
      </div>
    </div>
    <nz-divider nzText="备注" nzOrientation="left" style="font-size: 18px"></nz-divider>

    <textarea nz-input [nzAutosize]="{ minRows: 5, maxRows: 8 }" [disabled]="isDisable" placeholder="请输入备注"
      maxlength="200" [(ngModel)]="detailObj.bz" title={{detailObj.bz}}></textarea>
  </div>

  <!-- 附件 -->
  <div class="jbxx" *ngIf="tabsetIndex==1" style="overflow: hidden">
    <div nz-row style="height: 50px;padding: 10px;">
      <button *ngIf="!isDisable" nz-button nzType="primary" [nzVisible]="!detailObj.id" [disabled]="!detailObj.id"
        nz-tooltip nzTooltipTitle="请先保存项目信息" nzTooltipPlacement="bottom" (click)="upload()"><i nz-icon
          nzType="plus"></i>
        上传附件
      </button>
      <button nz-button nzType="default" *ngIf="!isDisable" nz-popconfirm nzTitle="确定删除吗?"
        (nzOnConfirm)="btachDelete()">
        批量删除
      </button>
      <button nz-button nzType="default" *ngIf="!isDisable" (click)="btachDown()">
        批量下载
      </button>
    </div>

    <nz-table #nestedTable [nzData]="fjList" class="commontable tablescoll_rainbow" [nzLoading]="Loading"
    [nzShowTotal]="rangeTemplate" [nzPageIndex]="pageIndex" nzShowPagination nzShowQuickJumper nzShowSizeChanger [nzPageSize]="pageSize"
      [nzTotal]="totalCount" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
      (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzScroll]="tableIsScroll">
      <thead>
        <tr>
          <th style="width:10%" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
          <th>附件名称</th>
          <th>上传日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nestedTable.data; index as index" [ngClass]="{ itemSeleted: data.id == selectId }"
          (click)="selectItem(data)">
          <td style="width:10%" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"></td>
          <td>{{ data.clientFileName }}</td>
          <td>{{ data.uploadDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td style="width:30%">
            <a class="table_a"
              *ngIf="data.fileSuffix=='jpg' || data.fileSuffix=='jpeg' || data.fileSuffix=='png' || data.fileSuffix=='bmp' ||  data.fileSuffix=='pdf'"
              (click)="previewImg(data)">查看</a>
            <a class="table_a" *ngIf="!isDisable" nz-popconfirm nzTitle="确定删除吗?"
              (nzOnConfirm)="btachDelete(data)">删除</a>
            <a class="table_a" (click)="btachDown(data)">下载</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div class="jbxx" *ngIf="tabsetIndex==2">
    <app-lpbgl [glType]="'stockHouse'" [pid]="detailObj.id"></app-lpbgl>
  </div>

  <div class="jbxx" *ngIf="tabsetIndex==3&&detailObj.id" style="overflow: hidden">
    <app-associated-company [associatedid]="detailObj.id" modulename="stockHouse" [selectShow]="!isDisable">
    </app-associated-company>
  </div>



  <div nz-row style="height: 50px;padding: 10px;text-align: right;padding-right: 20px;">
    <div nz-col [nzSpan]="24">
      <button nz-button nzType="default" (click)="cancel()">返回</button>
      <button nz-button nzType="primary" *ngIf="!isDisable" [disabled]="isbusy" (click)="save()">保存</button>
      <!-- <button nz-button nzType="primary" *ngIf="!isDisable" (click)="submit()">提交审核</button> -->
    </div>

  </div>


</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="附件上传" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <app-upload #uploadComponent [refid]="detailObj.id" (outer)="outer($event)"></app-upload>
</nz-modal>

<nz-modal [(nzVisible)]="isImgVisible" nzTitle="附件预览" (nzOnCancel)="isImgVisible = false" [nzFooter]="null">
  <img src="{{currentImg}}" style="width:100%">
</nz-modal>

<ng-template #PopoverContent>
  <p>门牌号：{{selectedHu.mph}}</p>
  <p>层数：{{selectedHu.ch}}</p>
  <p>单元号：{{selectedHu.dyh}}</p>
  <p>面积：{{selectedHu.scjzmj}}</p>
  <p>不动产登记号：{{selectedHu.bdcdyh}}</p>
  <p>坐落：{{selectedHu.zl}}</p>
</ng-template>

<ng-template #rangeTemplate let-range="range" let-total>
  共{{total}}条记录&nbsp;&nbsp;
</ng-template>