<div style="height: 100%;">
  <div class="card-container">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabsetIndex"
      (nzSelectedIndexChange)="tabsetChange($event)">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name"></nz-tab>
    </nz-tabset>
  </div>

  <!-- 基本信息 -->
  <div class="jbxx" *ngIf="tabsetIndex==0">
    <nz-divider nzText="基本信息" nzOrientation="left" style="font-size: 18px"></nz-divider>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>产权人姓名：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.cqrxm" [disabled]="isDisable" required maxlength="50"
            [validation]="true" class="w200" placeholder="请输入产权人姓名" />
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>房型：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.fx" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable" required
            [validation]="true">
            <nz-option *ngFor="let option of fxList" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div"><span class="clo_r">*</span>建筑面积：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.jzmj" [disabled]="isDisable" required
            [validation]="true" [validationType]="'areaNumber'" maxlength="10" class="w200"
            placeholder="请输入建筑面积" /></span>
        &nbsp;㎡
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">层号：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.ch" [disabled]="isDisable" maxlength="12" class="w200"
            placeholder="请输入层号" />
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">坐落：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.zl" [disabled]="isDisable" maxlength="100"
            class="w200" placeholder="请输入坐落" />
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">面积单位：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.mjdw" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of fxList" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">实际层数：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.sjcs" [disabled]="isDisable" maxlength="5"
            class="w200" placeholder="请输入实际层数" />
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">户号：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.hh" [disabled]="isDisable" maxlength="6" class="w200"
            placeholder="请输入户号" />
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">室号部位：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.shbw" [disabled]="isDisable" maxlength="10"
            class="w200" placeholder="请输入室号部位" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">户型：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.hx" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of fxList" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">户型结构：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.hxjg" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of fxList" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">房屋用途：</div>
        <nz-select [(ngModel)]="detailObj.fwyt1" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
          <nz-option *ngFor="let option of fxList" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.ycjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入预测建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测套内建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.yctnjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入预测套内建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测分摊建筑面积：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.ycftjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入预测分摊建筑面积" />
        </span>
        &nbsp;㎡
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测地下部分建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.ycdxbfjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入预测地下部分建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测其它建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.ycqtjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入预测其它建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">预测分摊系数：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.ycftxs" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入预测分摊系数" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.scjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入实测建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测套内建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.sctnjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入实测套内建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测分摊建筑面积：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.scftjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入实测分摊建筑面积" />
        </span>
        &nbsp;㎡
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测地下部分建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.scdxbfjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入实测地下部分建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测其它建筑面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.scqtjzmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入实测其它建筑面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">实测分摊系数：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.scftxs" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入实测分摊系数" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">共有土地面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.gytdmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入共有土地面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">分摊土地面积：</div>
        <span>
          <input nz-input nzSize="default" [(ngModel)]="detailObj.fttdmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入分摊土地面积" />
        </span>
        &nbsp;㎡
      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">独用土地面积：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.dytdmj" [disabled]="isDisable" maxlength="10"
            [validation]="true" [validationType]="'nullAreaNumber'" class="w200" placeholder="请输入独用土地面积" />
        </span>
        &nbsp;㎡
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="8">
        <div class="label_div">房屋类型：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.fwlx" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of fxList" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">房屋性质：</div>
        <span>
          <nz-select [(ngModel)]="detailObj.fwxz" nzPlaceHolder="请选择" class="w200" [disabled]="isDisable">
            <nz-option *ngFor="let option of fxList" [nzLabel]="option.name" [nzValue]="option.code">
            </nz-option>
          </nz-select>
        </span>

      </div>
      <div nz-col [nzSpan]="8">
        <div class="label_div">房产分户图：</div>
        <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.fcfht" [disabled]="isDisable" maxlength="100"
            class="w200" placeholder="请输入房产分户图" />
        </span>
      </div>
    </div>
    <div nz-row style="height: 50px;padding: 10px;">
      <!-- <div nz-col [nzSpan]="8">
        <div class="label_div">行政区划：</div>
        <span>
          <nz-tree-select [nzDropdownStyle]="{ 'max-height': '300px' }" class="w200" [disabled]="isDisable"
            nzPlaceHolder="请选择行政区划" [nzNodes]="regionTreeNodes" [nzDefaultExpandAll]="true" [nzAllowClear]="true"
            [(ngModel)]="detailObj.regionCode" nzShowExpand>
          </nz-tree-select>
        </span>

      </div> -->

      <div nz-col [nzSpan]="16">
        <div class="label_div">详细地址：</div>
        <span>
          <input style="width: calc(100% - 235px);" nz-input nzSize="default" [(ngModel)]="detailObj.address"
            [disabled]="isDisable" maxlength="255" placeholder="请输入详细地址" />
        </span>


      </div>
    </div>
    <nz-divider nzText="与产权人关系" nzOrientation="left" style="font-size: 18px"></nz-divider>
    <div nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="4">
        <div style="text-align: center;" class="label_div"><span class="clo_r">*</span>姓名</div>
      </div>
      <div nz-col [nzSpan]="3">
        <div style="text-align: center;width: 110px;" class="label_div">性别</div>
      </div>
      <div nz-col [nzSpan]="4">
        <div style="text-align: center;" class="label_div"><span class="clo_r">*</span>身份证号</div>
      </div>
      <div nz-col [nzSpan]="4">
        <div style="text-align: center;" class="label_div">联系方式</div>
      </div>
      <div nz-col [nzSpan]="3">
        <div style="text-align: center;width: 110px;" class="label_div"><span class="clo_r">*</span>与产权人关系</div>
      </div>
      <div nz-col [nzSpan]="3">
        <div style="text-align: center;width: 110px;" class="label_div">共有方式</div>
      </div>
      <div nz-col [nzSpan]="3">
        <button nz-button nzType="primary" [disabled]="isDisable" (click)="addpeople()">添加</button>
      </div>
    </div>
    <div *ngFor="let item of detailObj.relationShips;index as index" nz-row style="height: 50px;padding: 10px;">
      <div nz-col [nzSpan]="4">
        <input nz-input nzSize="default" [(ngModel)]="item.name" [disabled]="isDisable" required maxlength="50"
          [validation]="true" class="w200" placeholder="请输入姓名" />
      </div>
      <div nz-col [nzSpan]="3">
        <nz-select style="width: 110px !important;" nzPlaceHolder='请选择性别' [(ngModel)]="item.gender" class="w200"
          [disabled]="isDisable">
          <nz-option *ngFor="let option of genderList" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="4">
        <input nz-input nzSize="default" (keyup)="sfzhChange(item)" [(ngModel)]="item.sfzh" [disabled]="isDisable"
          required [validation]="true" [validationType]="'idcard'" maxlength="25" class="w200" placeholder="请输入身份证号" />
      </div>
      <div nz-col [nzSpan]="4">
        <input nz-input nzSize="default" [(ngModel)]="item.lxdh" maxlength="15" [disabled]="isDisable"
          [validation]="true" [validationType]="'phonenumber'" class="w200" placeholder="请输入联系方式" />
      </div>
      <div nz-col [nzSpan]="3">
        <nz-select style="width: 110px !important;" [(ngModel)]="item.cqrgx" class="w200" nzPlaceHolder="请选择与产权人关系"
          [disabled]="isDisable" required [validation]="true">
          <nz-option *ngFor="let option of cqrgxList" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="3">
        <nz-select style="width: 110px !important;" [(ngModel)]="item.gyfs" class="w200" nzPlaceHolder="请选择共有方式"
          [disabled]="isDisable" required [validation]="true">
          <nz-option *ngFor="let option of gyfsList" [nzLabel]="option.name" [nzValue]="option.code">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="3">
        <button nz-button nzType="primary" (click)="deletepeople(item,index)">删除</button>
      </div>
    </div>
    <nz-divider nzText="备注" nzOrientation="left" style="font-size: 18px"></nz-divider>

    <textarea nz-input [nzAutosize]="{ minRows: 5, maxRows: 8 }" [disabled]="isDisable" placeholder="请输入备注"
      maxlength="250" [(ngModel)]="detailObj.bz"></textarea>
  </div>

  <!-- 附件 -->
  <div class="jbxx" *ngIf="tabsetIndex==1" style="overflow: hidden">
    <div nz-row style="height: 50px;padding: 10px;">
      <button *ngIf="!isDisable" nz-button nzType="primary" [nzVisible]="!detailObj.id" [disabled]="!detailObj.id"
        nz-tooltip nzTooltipTitle="请先保存项目信息" nzTooltipPlacement="bottom" (click)="upload()"><i nz-icon
          nzType="plus"></i>
        上传附件
      </button>
      <button nz-button nzType="default" *ngIf="!isDisable" nz-popconfirm nzTitle="确定删除吗?"
        (nzOnConfirm)="btachDelete()">
        批量删除
      </button>
      <button nz-button nzType="default" *ngIf="!isDisable" (click)="btachDown()">
        批量下载
      </button>
    </div>

    <nz-table #nestedTable [nzData]="fjList" class="commontable tablescoll_rainbow" [nzLoading]="Loading"
      [nzPageIndex]="pageIndex" nzShowPagination nzShowQuickJumper nzShowSizeChanger [nzPageSize]="pageSize"
      [nzTotal]="totalCount" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
      (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzScroll]="tableIsScroll">
      <thead>
        <tr>
          <th style="width:10%" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
          <th>附件名称</th>
          <th>上传日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nestedTable.data; index as index" [ngClass]="{ itemSeleted: data.id == selectId }"
          (click)="selectItem(data)">
          <td style="width:10%" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
            (nzCheckedChange)="refreshStatus()"></td>
          <td>{{ data.clientFileName }}</td>
          <td>{{ data.uploadDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td style="width:30%">
            <a class="table_a"
              *ngIf="data.fileSuffix=='jpg' || data.fileSuffix=='jpeg' || data.fileSuffix=='png' || data.fileSuffix=='bmp' ||  data.fileSuffix=='pdf'"
              (click)="previewImg(data)">查看</a>
            <a class="table_a" *ngIf="!isDisable" nz-popconfirm nzTitle="确定删除吗?"
              (nzOnConfirm)="btachDelete(data)">删除</a>
            <a class="table_a" (click)="btachDown(data)">下载</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div class="jbxx" *ngIf="tabsetIndex==2&&detailObj.id" style="overflow: hidden">
    <app-associated-company [associatedid]="detailObj.id" modulename="stockHouse" [selectShow]="!isDisable">
    </app-associated-company>
  </div>



  <div nz-row style="height: 50px;padding: 10px;text-align: right;padding-right: 20px;">
    <div nz-col [nzSpan]="24">
      <button nz-button nzType="default" (click)="cancel()">返回</button>
      <button nz-button nzType="primary" *ngIf="!isDisable" [disabled]="isbusy" (click)="save()">保存</button>
      <!-- <button nz-button nzType="primary" *ngIf="!isDisable" (click)="submit()">提交审核</button> -->
    </div>

  </div>


</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="附件上传" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <app-upload #uploadComponent [refid]="detailObj.id" (outer)="outer($event)"></app-upload>
</nz-modal>

<nz-modal [(nzVisible)]="isImgVisible" nzTitle="附件预览" (nzOnCancel)="isImgVisible = false" [nzFooter]="null">
  <img src="{{currentImg}}" style="width:100%">
</nz-modal>