<div class="list_content_wrap">
    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="6">
            姓名：
            <input nz-input nzSize="default" [(ngModel)]="name" class="w150" placeholder="请输入姓名" />
        </div>
        <div *ngIf="module=='company'||module=='economic'" nz-col [nzSpan]="6">
            从业年限：
            <input nz-input nzSize="default" [(ngModel)]="cynx" class="w150" placeholder="请输入开发企业名称" />
        </div>
        <div nz-col [nzSpan]="7">
            服务机构名称：
            <input nz-input nzSize="default" [(ngModel)]="fwjgmc" class="w150" placeholder="请输入开发企业名称" />
        </div>
        <div *ngIf="module=='employee'" nz-col [nzSpan]="6">
            审核状态：
            <nz-select [(ngModel)]="auditType" class="w150" nzPlaceHolder="请选择">
                <nz-option nzValue="" nzLabel="全部"></nz-option>
                <nz-option nzValue="0" nzLabel="未提交"></nz-option>
                <nz-option nzValue="1" nzLabel="待审核"></nz-option>
                <nz-option nzValue="2" nzLabel="已审核"></nz-option>
                <nz-option nzValue="3" nzLabel="待修改"></nz-option>
            </nz-select>
        </div>
        <div nz-col [nzSpan]="5" class="ta_r">
            <button nz-button nzType="primary" (click)="search()">
                查询
            </button>
            <button nz-button nzType="default" (click)="reset()">
                重置
            </button>
        </div>
    </div>

    <div nz-row style="height: 50px;padding: 10px;">
        <div nz-col [nzSpan]="24">
            <button *ngIf="companyId&&operatorType&&canzsgc" (click)="addEmployee(null,'add')" nz-button
                nzType="primary"><i nz-icon nzType="plus"></i>
                添加
            </button>
            <button *ngIf="companyId&&operatorType&&canzsgc" nz-button nzType="default" (click)="deleteAll()">
                批量删除
            </button>
            <!-- <button nz-button nzType="default">
                显示字段
            </button> -->
        </div>
    </div>

    <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzLoading]="Loading"
        [nzShowTotal]="rangeTemplate" [nzPageIndex]="pageIndex" nzShowPagination nzShowQuickJumper nzShowSizeChanger
        [nzPageSize]="pageSize" [nzTotal]="totalCount" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)" (nzCurrentPageDataChange)="currentPageDataChange($event)"
        [nzScroll]="tableIsScroll" [nzFrontPagination]="false">
        <thead (nzSortChange)="sort($event)">
            <tr>
                <th *ngIf="companyId&&operatorType!='2'" style="width:5%" nzShowCheckbox
                    [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
                    (nzCheckedChange)="checkAll($event)"></th>
                <th>姓名</th>
                <th nzShowSort nzSortKey="gender">性别</th>
                <th nzShowSort nzSortKey="education">学历</th>
                <th>联系电话</th>
                <th>服务机构名称</th>
                <th>职务</th>
                <th nzShowSort nzSortKey="cynx">从业年限</th>
                <th *ngIf="module=='employee'" nzShowSort nzSortKey="AUDIT_TYPE">审核状态</th>
                <th style="width:20%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nestedTable.data; index as index" [ngClass]="{ itemSeleted: data.id == selectId }"
                (click)="selectItem(data)">
                <td *ngIf="companyId&&operatorType!='2'" style="width:5%" nzShowCheckbox
                    [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
                    (nzCheckedChange)="refreshStatus()"></td>
                <td>{{ data.name }}</td>
                <td>{{ data.genderName }}</td>
                <td>{{ data.educationName }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.fwjgdm }}</td>
                <td>{{ data.postion }}</td>
                <td>{{ data.cynx }}{{data.cynx?'年':''}}</td>
                <td *ngIf="module=='employee'"
                    [ngClass]="{'cr0':data.auditType==0, 'cr1':data.auditType==1,'cr2':data.auditType==2,'cr3':data.auditType==3}">
                    <div class="point"
                        [ngClass]="{'point0':data.auditType==0, 'point1':data.auditType==1,'point2':data.auditType==2,'point3':data.auditType==3}">
                    </div>{{ data.auditType|audit }}
                </td>
                <td style="width:20%">
                    <a (click)="addEmployee(data,'see')" class=" table_a">查看</a>
                    <a *ngIf="companyId&&operatorType&&canzsgc" (click)="addEmployee(data,'edit')"
                        class=" table_a">编辑</a>
                    <a *ngIf="companyId&&operatorType&&canzsgc" (click)="delete([data.id])" class="table_a">删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <ng-template #rangeTemplate let-range="range" let-total>
        共{{total}}条记录&nbsp;&nbsp;
    </ng-template>

</div>