<div class="list_content_wrap">
    <div class="card-container">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabsetIndex"
            (nzSelectedIndexChange)="tabsetChange($event)">
            <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name"></nz-tab>
        </nz-tabset>
    </div>

    <div style="width:100%;height:calc(100% - 40px);">
        <div nz-row style="height: 50px;padding: 10px;">
            <div nz-col [nzSpan]="6">
                合同编号:
                <input nz-input nzSize="default" [(ngModel)]="htbah" class="w150" placeholder="请输入合同编号" />
            </div>
            <div nz-col [nzSpan]="7">
                开始日期：
                <nz-date-picker class="datapicker-width" [nzAllowClear]="true" [(ngModel)]="ksrq"></nz-date-picker>
            </div>
            <div nz-col [nzSpan]="7">
                结束日期：
                <nz-date-picker class="datapicker-width" [nzAllowClear]="true" [(ngModel)]="jsrq"></nz-date-picker>
            </div>
            <div nz-col [nzSpan]="4" class="ta_r">
                <button nz-button nzType="primary" (click)="search()">
                    查询
                </button>
                <button nz-button nzType="default" (click)="reset()">
                    重置
                </button>
            </div>


        </div>

        <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzLoading]="Loading"
            [nzShowTotal]="rangeTemplate" [nzPageIndex]="pageIndex" nzShowPagination nzShowQuickJumper nzShowSizeChanger
            [nzPageSize]="pageSize" [nzTotal]="totalCount" (nzPageIndexChange)="pageIndexChange($event)"
            (nzPageSizeChange)="pageSizeChange($event)" (nzCurrentPageDataChange)="currentPageDataChange($event)"
            [nzScroll]="tableIsScroll" [nzFrontPagination]="false">
            <thead (nzSortChange)="sort($event)">
                <tr>
                    <th style="width:5%" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked"
                        [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
                    <th>状态</th>
                    <th>合同编号</th>
                    <th>坐落</th>
                    <th>产权人（卖方）</th>
                    <th>购买人</th>
                    <th>日期</th>
                    <th>理由</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of nestedTable.data; index as index"
                    [ngClass]="{ itemSeleted: data.id == selectId }" (click)="selectItem(data)">
                    <td style="width:5%" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]"
                        [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td>
                    <td>{{ data.status==1?"注销":"变更"}}</td>
                    <td title="{{data.htbah}}">{{ data.htbah |tooltips:15}}</td>
                    <td title="{{data.zl}}">{{ data.zl |tooltips:15}}</td>
                    <td title="{{data.cqr}}">{{ data.cqr |tooltips:15}}</td>
                    <td title="{{data.gmr}}">{{ data.gmr |tooltips:15}}</td>
                    <td>{{ data.zxrq | date:'yyyy-MM-dd'}}</td>
                    <td title="{{data.zxly}}">{{ data.zxly | tooltips:15}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>

</div>

<ng-template #rangeTemplate let-range="range" let-total>
    共{{total}}条记录&nbsp;&nbsp;
</ng-template>