<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <div style="width: 64px; float: left; height: 65px;"><img src="../../assets/images/main_icon.png" /></div>
      <div class="main_icon_text">万年县房产交易与网上合同
        备案管理系统</div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let item of menuList">
        <li *ngIf="item.children.length>0; else navMenuItem" nz-submenu nzTitle="{{item.name}}" nzIcon="{{item.icon}}"
          [ngClass]="{'submenu-ul-open':currentUrl.indexOf(item.route)>-1}">
          <ul>
            <li nz-menu-item (click)="menuItemClick(child)" *ngFor="let child of item.children"
              [nzSelected]="currentUrl.indexOf(child.route)>-1">
              <a>{{child.name}}</a>
            </li>
          </ul>
        </li>
        <ng-template #navMenuItem>
          <li nz-menu-item (click)="menuItemClick(item)" [nzSelected]="currentUrl.indexOf(item.route)>-1">
            <i nz-icon nzType="{{item.icon}}"></i>
            <span>{{item.name}}</span>
          </li>
        </ng-template>
      </ng-container>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <nz-breadcrumb class="head_breadcrumb">
          <nz-breadcrumb-item *ngFor="let item of breadcrumbList">
            {{item.name}}
          </nz-breadcrumb-item>

        </nz-breadcrumb>

        <div style="text-align: right;float: right;margin-right: 20px;">
          欢迎
          <!-- <img class="bg_icon" src="../../assets/images/index_03.png" /> -->
          <i nz-icon nzType="user" nzTheme="outline"></i>
          <span style="margin-left: 8px;">{{ name }}</span>
          <nz-divider nzType="vertical" style="margin: 0 15px 0 15px;;height: 24px;width: 1px;"></nz-divider>

          <a (click)="changePassword()" title="修改密码">
            <i nz-icon nzType="lock" nzTheme="outline" style="color: rgba(0, 0, 0, 0.45);"></i>
          </a>
          <a (click)="exitSystem()" class="func-button" title="退出">
            <i nz-icon nzType="export" nzTheme="outline" style="color: rgba(0, 0, 0, 0.45);"></i>
          </a>
        </div>
      </div>

      <nz-modal nz-modal [(nzVisible)]="isVisiblePwd" nzTitle="修改密码" (nzOnCancel)="isVisiblePwd=false"
        (nzOnOk)="handleOk()" [nzCancelText]="null">
        <div>
          <div nz-row style="height: 60px;">
            <div class="ta_r">
              <span class="clo_r">*</span>当前密码：
              <input type="password" name="curpassword" maxlength="50" nz-input style="width:calc(100% - 120px)"
                required [validation]="true" nzSize="default" [(ngModel)]="changeUser.password" class="w200" />
            </div>
          </div>
          <div nz-row style="height: 60px;">
            <div class="ta_r">
              <span class="clo_r">*</span>新密码：
              <input type="password" name="newpassword" nz-input maxlength="50" style="width:calc(100% - 120px)"
                required [validation]="true" [validationType]="'password'" nzSize="default"
                [(ngModel)]="changeUser.passwordNew" class="w200" />
            </div>
          </div>
          <div nz-row style="height: 60px;">
            <div class="ta_r">
              <span class="clo_r">*</span>重新输入密码：
              <input type="password" name="passwordCofirm" nz-input maxlength="50" style="width:calc(100% - 120px)"
                required [validation]="true" [validationType]="'password'" nzSize="default"
                [(ngModel)]="changeUser.passwordCofirm" class="w200" />
            </div>
          </div>
        </div>
      </nz-modal>



    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>