<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <!-- <a href="https://ng.ant.design/" target="_blank">
                                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                                <h1>Ant Design Of Angular</h1>
                        </a> -->
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let item of menuList">
        <li *ngIf="item.children.length>0; else navMenuItem" nz-submenu nzTitle="{{item.name}}" nzIcon="{{item.icon}}"
          [ngClass]="{'submenu-ul-open':currentUrl.indexOf(item.route)>-1}">
          <ul>
            <li nz-menu-item (click)="menuItemClick(child)" *ngFor="let child of item.children"
              [nzSelected]="currentUrl.indexOf(child.route)>-1">
              <a>{{child.name}}</a>
            </li>
          </ul>
        </li>
        <ng-template #navMenuItem>
          <li nz-menu-item (click)="menuItemClick(item)" [nzSelected]="currentUrl.indexOf(item.route)>-1">
            <i nz-icon nzType="{{item.icon}}"></i>
            <span>{{item.name}}</span>
          </li>
        </ng-template>
      </ng-container>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <nz-breadcrumb class="head_breadcrumb">
          <nz-breadcrumb-item *ngFor="let item of breadcrumbList">
            {{item.name}}
          </nz-breadcrumb-item>

        </nz-breadcrumb>

        <div style="text-align: right;float: right;">
          欢迎
          <img class="bg_icon" src="../../assets/images/index_03.png" />
          <span style="margin-left: 8px;">{{ name }}</span>
          <nz-divider nzType="vertical" style="margin: 0 15px 0 15px;;height: 24px;width: 1px;"></nz-divider>

          <a (click)="changePassword()" title="修改密码">
            <img src="../../assets/images/password.png" alt="" class="bg_icon" />
          </a>
          <a (click)="exitSystem()" class="func-button" title="退出">
            <img src="../../assets/images/index_09.png" alt="" class="bg_icon" />
          </a>
        </div>
      </div>



    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>