<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <!-- <a href="https://ng.ant.design/" target="_blank">
                                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                                <h1>Ant Design Of Angular</h1>
                        </a> -->
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let item of menuList">
        <li nz-submenu nzTitle="{{item.name}}" nzIcon="{{item.icon}}" *ngIf="item.children.length>0; else navMenuItem">
          <ul>
            <li nz-menu-item nzMatchRouter (click)="menuItemClick(child)" *ngFor="let child of item.children">
              <a routerLink="{{child.route}}">{{child.name}}</a>
            </li>
          </ul>
        </li>
        <ng-template #navMenuItem>
          <li nz-menu-item nzMatchRouter routerLink="{{item.route}}">
            <i nz-icon nzType="{{item.icon}}"></i>
            <span>{{item.name}}</span>
          </li>
        </ng-template>
      </ng-container>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
