.div1{
    padding: 10px;
    background: #4cb4ff;
    height: 100%;
    max-width: 450px;
    overflow-x: hidden;
}

.div2{
    background: #fff;
    border: 5px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 400px;
}


.row1{
    height: 30px;
    line-height: 30px;
}

.tr{
  text-align: right;
}