<div *ngIf="type=='1'" class="div1">

    <div class="div2">
        <div class="row1">
            <div  class="tr">
                合同备案号：
            </div>
            <div >
                {{data.htbh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                合同状态：
            </div>
            <div >
                {{data.house.currentStatus|auditWorkFlow}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                备案时间：
            </div>
            <div >
                {{data.house.basj|recordtime}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                出卖人：
            </div>
            <div >
                {{data.cmr}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                注册地址：
            </div>
            <div >
                {{data.txdz}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                营业执照号：
            </div>
            <div >
                {{data.yyzz}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                法定代表人：
            </div>
            <div >
                {{data.qyfr}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                联系电话：
            </div>
            <div >
                {{data.lxdh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                买受人：
            </div>
            <div >
                {{data.msr}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                身份证号：
            </div>
            <div >
                {{data.zh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                联系地址：
            </div>
            <div >
                {{data.house.lxdz}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                项目名称：
            </div>
            <div >
                {{data.xmmc}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                预售许可证：
            </div>
            <div >
                {{data.house.ysxkz}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                购买房号：
            </div>
            <div >
                {{data.house.fh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                房屋用途：
            </div>
            <div >
                {{data.fwyt}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                坐落：
            </div>
            <div >
                {{data.house.zl}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                建筑面积：
            </div>
            <div >
                {{data.scjzmj}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                套内面积：
            </div>
            <div >
                {{data.sctnjzmj}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                单价：
            </div>
            <div >
                {{data.house.dj}}（元/平方）
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                总金额：
            </div>
            <div >
                {{data.house.zj}}（元）
            </div>
        </div>
    </div>
</div>

<div *ngIf="type=='2'" class="div1">
    <div class="div2">
        <div class="row1">
            <div  class="tr">
                合同备案号：
            </div>
            <div >
                {{data.htbh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                入网时间：
            </div>
            <div >
                {{data.house.rwsj|recordtime}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                合同状态：
            </div>
            <div >
                {{data.house.currentStatus|auditWorkFlow}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                备案时间：
            </div>
            <div >
                {{data.house.basj|recordtime}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                甲方：
            </div>
            <div >
                {{data.cmr}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                甲方联系地址：
            </div>
            <div >
                {{data.jflxdz}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                甲方证件种类：
            </div>
            <div >
                {{data.jfzjlx}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                甲方证件号：
            </div>
            <div >
                {{data.jfzjh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                甲方联系电话：
            </div>
            <div >
                {{data.jflxdh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                乙方：
            </div>
            <div >
                {{data.msr}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                乙方联系地址：
            </div>
            <div >
                {{data.yflxdz}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                乙方证件种类：
            </div>
            <div >
                {{data.yfzjlx}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                乙方证件号：
            </div>
            <div >
                {{data.yfzjh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                乙方联系电话：
            </div>
            <div >
                {{data.yflxdh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                不动产权证号：
            </div>
            <div >
                {{data.bdcqzh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                购买房号：
            </div>
            <div >
                {{data.house.fh}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                房屋用途：
            </div>
            <div >
                {{data.fwyt}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                坐落：
            </div>
            <div >
                {{data.house.zl}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                建筑面积：
            </div>
            <div >
                {{data.jzmj}}
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                单价：
            </div>
            <div >
                {{data.house.dj}}（元/平方）
            </div>
        </div>
        <div class="row1">
            <div  class="tr">
                总金额：
            </div>
            <div >
                {{data.house.zj}}（元）
            </div>
        </div>
    </div>
</div>