<div *ngIf="type=='1'" class="div1">

    <div class="div2">
        <nz-row>
            <nz-col [nzSpan]="6">
                合同备案号：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htbah}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                入网时间：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.rwsj}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                合同状态：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                备案时间：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                出卖人：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                注册地址：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                营业执照号：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                法定代表人：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                联系电话：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                买受人：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                身份证号：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                联系地址：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                项目名称：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                预售许可证：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                购买房号：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                房屋用途：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                建筑面积：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                套内面积：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                分摊面积：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                单价：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
        <nz-row>
            <nz-col [nzSpan]="6">
                总金额：
            </nz-col>
            <nz-col [nzSpan]="18">
                {{data.htzt}}
            </nz-col>
        </nz-row>
    </div>
</div>

<div *ngIf="type=='2'">
    <div>
        存量房合同备案信息
    </div>
    <div>
        合同备案号:{{data.htbah}}
    </div>
</div>