<div style="height: 100%;">
    <div class="card-container">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="tabsetIndex"
            (nzSelectedIndexChange)="tabsetChange($event)">
            <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name">
            </nz-tab>
        </nz-tabset>
    </div>

    <div class="jbxx" *ngIf="tabsetIndex==0">
        <nz-divider nzText="基本信息" nzOrientation="left" style="font-size: 18px"></nz-divider>

        <div nz-row style="height: 50px;padding: 10px;">
            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>不动产单元号：</div>
                <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.bdcdyh" [disabled]="isDisable" required
                        [validation]="true" class="w200" maxlength="28" placeholder="请输入不动产单元号" /></span>

            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>业务号：</div>
                <span> <input nz-input nzSize="default" [(ngModel)]="detailObj.ywh" [disabled]="isDisable" class="w200"
                        required [validation]="true" placeholder="请输入业务号" maxlength="20" /></span>

            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>抵押不动产类型：</div>
                <span>
                    <nz-select required [validation]="true" [(ngModel)]="detailObj.dybdclx" class="w200"
                        [disabled]="isDisable" nzAllowClear nzPlaceHolder="请选择">
                        <nz-option *ngFor="let option of dictionaryObj.dybdclx" [nzLabel]="option.name"
                            [nzValue]="option.code.toString()">
                        </nz-option>
                    </nz-select>
                </span>

            </div>
        </div>

        <div nz-row style="height: 50px;padding: 10px;">

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>抵押方式：</div>
                <span>
                    <nz-select required [validation]="true" [(ngModel)]="detailObj.dyfs" class="w200"
                        [disabled]="isDisable" nzAllowClear nzPlaceHolder="请选择">
                        <nz-option *ngFor="let option of dictionaryObj.dylx" [nzLabel]="option.name"
                            [nzValue]="option.code.toString()">
                        </nz-option>
                    </nz-select>
                </span>

            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>登记类型：</div>
                <span>
                    <nz-select required [validation]="true" [(ngModel)]="detailObj.djlx" class="w200"
                        [disabled]="isDisable" nzAllowClear nzPlaceHolder="请选择">
                        <nz-option *ngFor="let option of dictionaryObj.djlx" [nzLabel]="option.name"
                            [nzValue]="option.code.toString()">
                        </nz-option>
                    </nz-select>
                </span>

            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div">登记原因：</div>
                <span>
                    <input nz-input nzSize="default" [(ngModel)]="detailObj.djyy" [disabled]="isDisable" class="w200"
                        placeholder="请输入登记原因" maxlength="255" />
                </span>

            </div>

        </div>

        <div nz-row style="height: 50px;padding: 10px;">

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>在建建筑物坐落：</div>
                <span>
                    <input nz-input nzSize="default" [(ngModel)]="detailObj.zjjzwzl" [disabled]="isDisable" class="w200"
                        placeholder="请输入在建建筑物坐落" maxlength="255" required [validation]="true" />
                </span>

            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>在建建筑物抵押范围：</div>
                <span>
                    <input nz-input nzSize="default" [(ngModel)]="detailObj.zjjzwdyfw" [disabled]="isDisable"
                        class="w200" placeholder="请输入在建建筑物抵押范围" maxlength="255" required [validation]="true" />
                </span>
            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>被担保主债权数额：</div>
                <span>
                    <input nz-input nzSize="default" [(ngModel)]="detailObj.bdbzzqse" [disabled]="isDisable"
                        class="w200" placeholder="请输入被担保主债权数额" maxlength="12" required [validation]="true"
                        [validationType]="'nullnumber'" />
                </span>
            </div>

        </div>

        <div nz-row style="height: 50px;padding: 10px;">

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>债务履行起始时间：</div>
                <span>
                    <nz-date-picker required [validation]="true" class="w200" [nzStyle]="{'width':'150px'}"
                        [(ngModel)]="detailObj.zwlxqssj" [disabled]="isDisable" placeholder="请输入债务履行起始时间">
                    </nz-date-picker>
                </span>
            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>债务履行结束时间：</div>
                <span>
                    <nz-date-picker required [validation]="true" class="w200" [nzStyle]="{'width':'150px'}"
                        [(ngModel)]="detailObj.zwlxjssj" [disabled]="isDisable" placeholder="请输入债务履行结束时间">
                    </nz-date-picker>
                </span>

            </div>
            <div nz-col [nzSpan]="8">
                <div class="label_div">最高债权确定事实：</div>
                <span>
                    <input nz-input nzSize="default" [(ngModel)]="detailObj.zgzqqdss" [disabled]="isDisable"
                        class="w200" placeholder="请输入最高债权确定事实" maxlength="255" />
                </span>

            </div>

        </div>

        <div nz-row style="height: 50px;padding: 10px;">

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>最高债权数额：</div>
                <span>
                    <input nz-input nzSize="default" [(ngModel)]="detailObj.zgzqse" [disabled]="isDisable" class="w200"
                        placeholder="请输入最高债权数额" maxlength="12" required [validation]="true"
                        [validationType]="'nullnumber'" />
                </span>
            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div">不动产登记证明号：</div>
                <span>
                    <input nz-input nzSize="default" [(ngModel)]="detailObj.bdcdjzmh" [disabled]="isDisable"
                        class="w200" placeholder="请输入不动产登记证明号" maxlength="50" />
                </span>

            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>登记机构：</div>
                <span>
                    <input nz-input nzSize="default" [(ngModel)]="detailObj.djjg" [disabled]="isDisable" class="w200"
                        placeholder="请输入登记机构" maxlength="200" required [validation]="true" />
                </span>

            </div>

        </div>

        <div nz-row style="height: 50px;padding: 10px;">

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>登簿人：</div>
                <span>
                    <input nz-input nzSize="default" [(ngModel)]="detailObj.dbr" [disabled]="isDisable" class="w200"
                        placeholder="请输入登簿人" maxlength="50" required [validation]="true" />
                </span>
            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div"><span class="clo_r">*</span>登记时间：</div>
                <span>
                    <nz-date-picker required [validation]="true" class="w200" [nzStyle]="{'width':'150px'}"
                        [(ngModel)]="detailObj.djsj" [disabled]="isDisable" placeholder="请输入登记时间">
                    </nz-date-picker>
                </span>
            </div>

            <div nz-col [nzSpan]="8">
                <div class="label_div">权属状态：</div>
                <span>
                    <nz-select [(ngModel)]="detailObj.qszt" class="w200" [disabled]="isDisable" nzAllowClear
                        nzPlaceHolder="请选择">
                        <nz-option *ngFor="let option of dictionaryObj.qszt" [nzLabel]="option.name"
                            [nzValue]="option.code.toString()">
                        </nz-option>
                    </nz-select>
                </span>
            </div>

        </div>
        <nz-divider nzText="备注" nzOrientation="left" style="font-size: 18px"></nz-divider>

        <textarea nz-input [nzAutosize]="{ minRows: 5, maxRows: 8 }" [(ngModel)]="detailObj.fj" maxlength="255"
            [disabled]="isDisable"></textarea>
    </div>

    <div class="jbxx" *ngIf="tabsetIndex==1&&type!=2">
        <app-lpbgl glType="zddygl" [pid]="detailObj.id"></app-lpbgl>
    </div>

    <div class="jbxx" *ngIf="(tabsetIndex==1&&type==2)||tabsetIndex==2">
        <app-lpb-detail #lpbdetail></app-lpb-detail>
    </div>

    <div nz-row style="height: 50px;padding: 10px;text-align: right;padding-right: 20px;">
        <div nz-col [nzSpan]="24">
            <button nz-button nzType="default" (click)="quit()">返回</button>
            <button *ngIf="!isDisable" nz-button nzType="primary" [disabled]="isbusy" (click)="save()">保存</button>
            <button *ngIf="!isDisable&&detailObj.id&&detailObj.bdcdyh" style="float: left;" nz-button nzType="primary"
                (click)="linkDyxxByBdcdyh()">自动关联宗地所在项目楼盘</button>
        </div>
    </div>

</div>
