/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    //font: 14px arial,'Microsoft YaHei',sans-serif;
    margin: 0 auto;
    min-width: 1366px;
    max-width: 1920px;
    min-height: 650px;
  }

  .div_contain {
    height: calc(100% - 100px);
    background: #fff;
    padding: 0, 10px;
  }
  
  .div_top {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
  }
  
  .div_top_tip {
    width: 3px;
    background: #0050b3;
    height: 15px;
    margin-top: 18px;
    margin-right: 5px;
  }
  
  //添加
  .div_top_add {
    height: 50px;
    padding: 15px 0px 15px 20px;
    color: #666666;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 550;
  }

  .fl {
    float: left;
  }

  .fr{
    float: right;
  }
  
  .addbtn {
    width: 70px;
    background: #1890ff;
    padding-right: 0px;
  }
  
  .delbtn {
    width: 70px;
    background: #f47264;
    padding-right: 0px;
    color: #fff;
  }

  .tablescoll_rainbow tbody {
    display: block;
    // max-height: 400px;
    overflow-y: auto;
  
    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      text-align: left;
    }
  }
  
  .tablescoll_rainbow thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: left;
  }
  
  .tablescoll_rainbow thead {
    width: 100%;
  }
  
  
  
  .commontable {
    th {
      // color: #0050b3 !important;
      font-weight: 550!important;
    }
    table-layout: fixed;
    word-break: break-all;
  }
  
  .ta_r {
    text-align: right;
  }
  
  .ta_l {
    text-align: left;
  }
  .clo_r {
    color: red;
  }
  
  .ma_b20 {
    margin-bottom: 20px;
  }

  .w200 {
    width: 200px;
  }

  .w150{
    width: 150px;
  }
  
  [nz-button] {
    margin-left: 10px;
  }

  .table_a{
      margin-left:10px;
  }


  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
   height:50px;
   padding:0;
}

.ant-tabs-bar{
  border-bottom:none;
}


.show_balc_right .ant-timeline{
  padding-left: 45px;
  margin-top: 30px;
}

.fileTypeList_ul{
  .ant-badge-not-a-wrapper:not(.ant-badge-status){
    float: left;
    margin-top: 8px;
  }
}

.file_type_selected{
  color:#000 !important;

  span{
    border-bottom: 2px solid #40a9ff !important;
  }

  .ant-badge-not-a-wrapper .ant-badge-count{
    background-color: #40a9ff !important;
  }
}

.list_content_wrap{
  height:100%;
  padding:24px;
}