<div class="list_content_wrap" style="overflow: auto">

  <nz-tabset [nzSelectedIndex]="tabsetIndex" (nzSelectedIndexChange)="tabsetChange($event)">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name"></nz-tab>
  </nz-tabset>



  <div class="statistics_btn_wrap" nz-row style="height: 50px;padding: 10px;">
    <button class="echart_btn" nz-button nzType="primary" (click)="echartChange(1)"
      [ngClass]="{'selected_btn':btnIndex == 1}">月</button>
    <button class="echart_btn" nz-button nzType="primary" (click)="echartChange(2)"
      [ngClass]="{'selected_btn':btnIndex == 2}">季度</button>
    <button class="echart_btn" nz-button nzType="primary" (click)="echartChange(3)"
      [ngClass]="{'selected_btn':btnIndex == 3}">年</button>

    <button class="right" nz-button nzType="primary" (click)="search()">查询</button>

    <nz-year-picker style="float: right;" *ngIf="btnIndex!=3" [(ngModel)]="date1" nzPlaceHolder="请选择年份">
    </nz-year-picker>

    <div *ngIf="btnIndex==3" style="float: right;">
      <nz-year-picker [(ngModel)]="date2" nzPlaceHolder="请选择开始年份"></nz-year-picker>
      -
      <nz-year-picker [(ngModel)]="date3" nzPlaceHolder="请选择结束年份"></nz-year-picker>
    </div>



  </div>


  <div class="echart_wrap" nz-row>
    <div nz-col [nzSpan]="4">
      <div style="float: left; margin: 5px;">度量</div>
      <nz-select [(ngModel)]="dlValue" nzAllowClear nzPlaceHolder="请选择度量" (ngModelChange)="dlValueChange($event)">
        <nz-option *ngFor="let item of items" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
      </nz-select>

    </div>
    <div nz-col [nzSpan]="10" id="echart1" style="height: 100%;"></div>
    <div nz-col [nzSpan]="10" id="echart2" style="height: 100%;"></div>
  </div>

</div>