<div class="list_content_wrap" style="overflow: auto">

    <nz-tabset [nzSelectedIndex]="tabsetIndex" (nzSelectedIndexChange)="tabsetChange($event)">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name"></nz-tab>
  </nz-tabset>



  <div class="statistics_btn_wrap" nz-row style="height: 50px;padding: 10px;">
      <button class="echart_btn" nz-button nzType="primary" (click)="echartChange(1)" [ngClass]="{'selected_btn':btnIndex == 1}">今日</button>
      <button class="echart_btn" nz-button nzType="primary" (click)="echartChange(2)" [ngClass]="{'selected_btn':btnIndex == 2}">本周</button>
      <button class="echart_btn" nz-button nzType="primary" (click)="echartChange(3)" [ngClass]="{'selected_btn':btnIndex == 3}">本月</button>
      <button class="echart_btn" nz-button nzType="primary" (click)="echartChange(4)" [ngClass]="{'selected_btn':btnIndex == 4}">本年</button>


      <button class="right" nz-button nzType="primary" [disabled]="btnIndex!=5">查询</button>
      <nz-range-picker class="right" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" [disabled]="btnIndex!=5"></nz-range-picker>
      <button class="right echart_btnt" style="margin-right: 10px" nz-button nzType="primary" (click)="echartChange(5)" [ngClass]="{'selected_btn':btnIndex == 5}">自定义时间段</button>

    </div>


    <div class="echart_wrap">
      <div id="xs_echart"></div>

      <div class="right_rank_wrap">
        <p><span class="rank_title">项目销售量排名前十</span> <span>单位：套</span></p>

        <ul class="rank_ul">
          <li *ngFor="let item of rankList;index as index"><span class="rank_num" [ngClass]="{'rank_top3':index<3}">{{index}}</span><span class="rank_name">{{item.name}}</span><span class="rank_ts">{{item.ts}}</span></li>
        </ul>
      </div>

    </div>

    <div nz-row class="rank_title" style="height: 50px;padding: 10px;">
    项目销售量列表
    </div>
    <div nz-row style="height: 50px;padding: 10px;text-align: center;background: #e4e4e4">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width:400px">
        <input type="text" nz-input placeholder="请输入开发企业名称" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch style="margin-left:0">搜索</button>
      </ng-template>
    </div>























  <div nz-row style="height: 50px;padding: 10px;">


  </div>


      <nz-table #nestedTable [nzData]="dataSet" class="commontable tablescoll_rainbow" [nzFrontPagination]="false"  [nzLoading]="Loading"  [nzShowTotal]="rangeTemplate"
        [nzPageIndex]="pageIndex" nzShowPagination nzShowQuickJumper nzShowSizeChanger [nzPageSize]="pageSize" [nzTotal]="totalCount"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
        (nzCurrentPageDataChange)="currentPageDataChange($event)">
        <thead (nzSortChange)="sort($event)">
          <tr>
            <th style="width:10%" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
              (nzCheckedChange)="checkAll($event)"></th>
              <th>项目名称</th>
              <th>楼盘名称</th>
            <th>总套数</th>
            <th>总面积（㎡）</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nestedTable.data; index as index" [ngClass]="{ itemSeleted: data.id == selectId }"
            (click)="selectItem(data)">
            <td style="width:10%" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
              (nzCheckedChange)="refreshStatus()"></td>
              <td title="{{data.xmmc}}">{{ data.xmmc |tooltips:15}}</td>
              <td title="{{data.kfqymc}}">{{ data.jzwmc |tooltips:15}}</td>
            <td>{{data.zts}}</td>
            <td>{{data.zmj}}</td>
           <td>
              <a class="table_a" (click)="add(2,data)">查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
</div>


<ng-template #rangeTemplate let-range="range" let-total>
   共{{total}}条记录&nbsp;&nbsp;
</ng-template>

