.label_div{
    float:left;
    text-align: right;
    margin-top:5px;
    width:70px;
}
.cr0{
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    padding-left: 15px;
}
.cr1{
    color: #FF9933;
    position: relative;
    padding-left: 15px;
}
.cr2{
    color: #33CC00;
    position: relative;
    padding-left: 15px;
}
.cr3{
    color: red;
    position: relative;
    padding-left: 15px;
}

.point{
    position: absolute;
    top: 22px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 10px;
}

.point0{
    background: rgba(0, 0, 0, 0.427450980392157);
}
.point1{
    background: #FF9933;
}
.point2{
    background: #33CC00;
}
.point3{
    background: red;
}

.left{
    float:left;
}

.right{
    float: right;
}

.statistics_btn_wrap{
    .echart_btn{
        background: #88c7ff;
        border-color:unset;
    }

    .selected_btn{
        background: #1890ff;
    }
}

.echart_wrap{
    width:100%;
    height:400px;
    margin:20px 0;
    padding:20px 24px;
    border-top: 1px solid #ccc;
    position: relative;
}

#xs_echart{
    width:65%;
    height: 100%;
    float:left;
}

.right_rank_wrap{
    width: 30%;
    height: 100%;
    float: right;
}

.right_rank_wrap{
    p{
        display: flex;
        justify-content: space-between;
        line-height: 30px;
    }

}


.rank_title{
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.rank_ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
        line-height: 35px;
        overflow: hidden;
    }

    .rank_num{
        display: block;
        width:20px;
        height:20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        background: #f0f2f5;
        float:left;
        margin-top: 7px;
        margin-right: 10px;
    }

    .rank_name{
        float:left;
    }

    .rank_ts{
        float: right;
    }

    .rank_top3{
        background: #ff6600;
        color:#fff;
    }
}

.list_content_wrap ::ng-deep  .ant-tabs-card {
    border-bottom: 1px solid #ccc;
  }
  